flujos/fl.json
{
  "name": "Tesis - Chatbot WhatsApp - RESERVACIONES",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-mensaje-reservaciones",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        64
      ],
      "id": "res-001",
      "name": "Recibir Mensaje",
      "webhookId": "res-webhook-001"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/api/whatsapp/public/configuracion-chatbot",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"empresaId\": {{ JSON.stringify($json.body.empresaId) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        192,
        64
      ],
      "id": "res-002",
      "name": "HTTP Request Config"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "res-msg",
              "name": "mensaje_usuario",
              "value": "={{ $('Recibir Mensaje').item.json.body.mensaje }}",
              "type": "string"
            },
            {
              "id": "res-session",
              "name": "nombreSesion",
              "value": "={{ $('HTTP Request Config').first().json.sessionKey }}",
              "type": "string"
            },
            {
              "id": "res-empresa",
              "name": "empresaId",
              "value": "={{ $('Recibir Mensaje').item.json.body.empresaId }}",
              "type": "string"
            },
            {
              "id": "res-push",
              "name": "pushName",
              "value": "={{ $('Recibir Mensaje').item.json.body.pushName }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        64
      ],
      "id": "res-003",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Recibir Mensaje').first().json.body.mensaje }}",
        "options": {
          "systemMessage": "Eres un clasificador de contexto para un chatbot de RESERVACIONES Y CITAS por WhatsApp.\n\nTu tarea: Determinar si el mensaje del usuario requiere respuesta del bot de reservaciones.\n\n=== MENSAJES EN_CONTEXTO (el bot DEBE responder) ===\n✅ Consultas sobre servicios/catálogo:\n   - \"servicios\", \"qué ofrecen\", \"qué hacen\", \"catálogo\"\n   - \"ver servicios\", \"mostrar servicios\", \"que tienen\"\n\n✅ Agendar/reservar citas:\n   - \"agendar\", \"reservar\", \"cita\", \"turno\"\n   - \"quiero agendar\", \"quiero reservar\"\n   - \"hacer una cita\", \"pedir cita\"\n   - \"disponibilidad\", \"horarios disponibles\"\n\n✅ Ver mis citas/reservaciones:\n   - \"mis citas\", \"mis reservaciones\", \"mis reservas\"\n   - \"ver mis citas\", \"consultar citas\"\n   - \"historial\", \"mis turnos\"\n\n✅ Cancelar citas:\n   - \"cancelar cita\", \"cancelar reservacion\"\n   - \"cancelar cita #5\", \"cancelar cita 5\"\n   - \"quiero cancelar\", Solo \"cancelar\"\n\n✅ Horarios de atención:\n   - \"horario\", \"horarios\", \"están abiertos\"\n   - \"a qué hora\", \"cuando abren\", \"cuando cierran\"\n\n✅ Precios de servicios (\"cuánto cuesta\", \"precio de X\")\n✅ Duración de servicios (\"cuánto tarda X\")\n✅ Atención al cliente y soporte\n✅ Ubicación del negocio\n✅ Saludos básicos (\"hola\", \"buenos días\")\n✅ Confirmaciones: \"sí\", \"no\", números solos (selección de opciones)\n\n=== MENSAJES FUERA_CONTEXTO (el bot NO debe responder) ===\n❌ Conversaciones personales entre personas físicas\n❌ Saludos dirigidos a personas específicas\n❌ Temas sentimentales, políticos, deportivos sin relación al negocio\n❌ Spam o publicidad de otros negocios\n❌ Contenido ofensivo o inapropiado\n\n=== CASOS ESPECIALES ===\n- \"Hola\" solo → EN_CONTEXTO\n- \"cancelar\" solo → SIEMPRE EN_CONTEXTO\n- \"sí\"/\"si\"/\"no\" solos → SIEMPRE EN_CONTEXTO\n- Números solos (\"1\",\"2\") → SIEMPRE EN_CONTEXTO (selección de menú)\n- Fechas/horas (\"mañana\", \"el lunes\", \"a las 3\") → SIEMPRE EN_CONTEXTO\n\n=== INSTRUCCIONES ===\nResponde ÚNICAMENTE con: \"EN_CONTEXTO\" o \"FUERA_CONTEXTO\"\nSin explicaciones ni texto adicional."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        528,
        64
      ],
      "id": "res-004",
      "name": "AI Agent Clasificador"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        496,
        320
      ],
      "id": "res-005",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "wFuRBaNBnwrhjYlY",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "res-check-contexto",
              "leftValue": "={{ $json.output }}",
              "rightValue": "EN_CONTEXTO",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        64
      ],
      "id": "res-006",
      "name": "If En Contexto"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:3000/api/chatbot/analizar-mensaje/{{ $('Recibir Mensaje').first().json.body.empresaId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"mensaje\": \"{{ $('Recibir Mensaje').first().json.body.mensaje }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1088,
        48
      ],
      "id": "res-007",
      "name": "Analizar Mensaje BD"
    },
    {
      "parameters": {
        "jsCode": "const config = $('HTTP Request Config').first().json;\nconst webhook = $('Recibir Mensaje').first().json.body;\n\nconst jidOriginal = webhook.jidOriginal || webhook.numeroOrigen;\nconst numeroDescifrado = webhook.numeroDescifrado || false;\n\nconst ZONA_HORARIA = 'America/Hermosillo';\nconst now = new Date();\nconst horaLocal = new Date(now.toLocaleString('en-US', { timeZone: ZONA_HORARIA }));\nconst hour = horaLocal.getHours();\nconst day = horaLocal.getDay();\n\nconst horaInicio = config.horario_inicio\n  ? parseInt(config.horario_inicio.split(':')[0])\n  : (config.hora_inicio || 9);\nconst horaFin = config.horario_fin\n  ? parseInt(config.horario_fin.split(':')[0])\n  : (config.hora_fin || 18);\n\nlet diasLaborales = [1, 2, 3, 4, 5];\nif (config.dias_laborales) {\n  try {\n    diasLaborales = typeof config.dias_laborales === 'string'\n      ? JSON.parse(config.dias_laborales)\n      : config.dias_laborales;\n  } catch (e) {}\n}\n\nconst enDiaLaboral = diasLaborales.includes(day);\nconst enHorario = hour >= horaInicio && hour < horaFin;\nconst abierto = enDiaLaboral && enHorario;\n\nconst mensaje = webhook.mensaje || '';\nconst mensajeLimpio = mensaje.toLowerCase().trim();\n\nlet nombreSesion = config.sessionKey ||\n                   webhook.sessionKey ||\n                   `${webhook.empresaId}_empresa_${webhook.empresaId}`;\nif (nombreSesion && nombreSesion.startsWith(`${webhook.empresaId}_`)) {\n  nombreSesion = nombreSesion.substring(`${webhook.empresaId}_`.length);\n}\n\nconsole.log('═══════════════════════════════════════════════════');\nconsole.log('📅 [RESERVACIONES] MENSAJE:', mensajeLimpio);\nconsole.log('📞 Usuario:', webhook.numeroOrigen);\nconsole.log('═══════════════════════════════════════════════════');\n\n// ═══════════════════════════════════════════════════════\n// PRIORIDAD 1: CANCELAR CITA ESPECÍFICA\n// ═══════════════════════════════════════════════════════\nconst patronCancelarEspecifico = /\\b(?:cancelar|cancela)\\s+(?:cita|reserva|reservacion|turno)\\s*#?(\\d+)\\b/i;\nconst matchCancelar = mensajeLimpio.match(patronCancelarEspecifico);\n\nif (matchCancelar) {\n  const citaId = matchCancelar[1];\n  console.log(`🎯 DETECTADO: Cancelar cita #${citaId}`);\n  return {\n    json: {\n      ...config,\n      numeroOrigen: webhook.numeroOrigen,\n      empresaId: webhook.empresaId,\n      nombreSesion,\n      pushName: webhook.pushName,\n      jidOriginal,\n      numeroDescifrado,\n      mensaje_usuario: mensajeLimpio,\n      citaId: parseInt(citaId),\n      tipo: 'cancelar_cita',\n      mensaje: `🔄 *Procesando cancelación de la cita #${citaId}...*`,\n      abierto\n    }\n  };\n}\n\n// ═══════════════════════════════════════════════════════\n// PRIORIDAD 2: VER MIS CITAS\n// ═══════════════════════════════════════════════════════\nconst patronCancelarGeneral = /^(?:cancelar|cancela)$/i;\nconst esCancelarGeneral = patronCancelarGeneral.test(mensajeLimpio);\n\nif (!esCancelarGeneral) {\n  const patronVerCitas = /\\b(mis?\\s+citas?|ver\\s+mis?\\s+citas?|mis?\\s+reservas?|mis?\\s+reservaciones?|ver\\s+mis?\\s+reservas?|consultar\\s+citas?|mis?\\s+turnos?|historial|ver\\s+citas?)\\b/i;\n  if (patronVerCitas.test(mensajeLimpio)) {\n    console.log('✅ DETECTADO: Ver citas');\n    return {\n      json: {\n        ...config,\n        numeroOrigen: webhook.numeroOrigen,\n        empresaId: webhook.empresaId,\n        nombreSesion,\n        pushName: webhook.pushName,\n        jidOriginal,\n        numeroDescifrado,\n        mensaje_usuario: mensajeLimpio,\n        tipo: 'ver_citas',\n        mensaje: '📋 *Consultando tus citas...*',\n        abierto\n      }\n    };\n  }\n}\n\n// ═══════════════════════════════════════════════════════\n// PRIORIDAD 3: VERIFICAR SESIÓN ACTIVA DE RESERVACIÓN\n// ═══════════════════════════════════════════════════════\ntry {\n  const sesionData = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `http://host.docker.internal:3000/api/pedidos/sesion/${webhook.empresaId}/${webhook.numeroOrigen}`,\n    json: true\n  });\n\n  if (sesionData && sesionData.success && sesionData.data) {\n    const estadoActual = sesionData.data.estado;\n    console.log('📋 Sesión reservación encontrada - Estado:', estadoActual);\n\n    const datosSesion = typeof sesionData.data.datos_pedido === 'string'\n      ? JSON.parse(sesionData.data.datos_pedido)\n      : sesionData.data.datos_pedido;\n\n    // ── SELECCIONANDO SERVICIO ─────────────────────────────────────────\n    if (estadoActual === 'seleccionando_servicio') {\n      const servicios = datosSesion?.servicios || [];\n\n      if (mensajeLimpio === 'cancelar') {\n        await this.helpers.httpRequest({\n          method: 'DELETE',\n          url: `http://host.docker.internal:3000/api/pedidos/sesion/${webhook.empresaId}/${webhook.numeroOrigen}`,\n          json: true\n        });\n        return {\n          json: {\n            ...config,\n            numeroOrigen: webhook.numeroOrigen,\n            empresaId: webhook.empresaId,\n            nombreSesion,\n            pushName: webhook.pushName,\n            jidOriginal,\n            numeroDescifrado,\n            mensaje_usuario: mensajeLimpio,\n            mensaje: '✅ Operación cancelada.\\n\\n📋 Escribe *servicios* para ver nuestro catálogo.',\n            tipo: 'respuesta_directa',\n            abierto\n          }\n        };\n      }\n\n      const opcion = parseInt(mensajeLimpio);\n      if (!isNaN(opcion) && opcion >= 1 && opcion <= servicios.length) {\n        const servicioElegido = servicios[opcion - 1];\n        // Actualizar sesión con servicio seleccionado\n        await this.helpers.httpRequest({\n          method: 'PUT',\n          url: `http://host.docker.internal:3000/api/pedidos/sesion/${webhook.empresaId}/${webhook.numeroOrigen}`,\n          headers: { 'Content-Type': 'application/json' },\n          body: {\n            estado: 'seleccionando_fecha',\n            datosPedido: { ...datosSesion, servicioSeleccionado: servicioElegido }\n          },\n          json: true\n        });\n        return {\n          json: {\n            ...config,\n            numeroOrigen: webhook.numeroOrigen,\n            empresaId: webhook.empresaId,\n            nombreSesion,\n            pushName: webhook.pushName,\n            jidOriginal,\n            numeroDescifrado,\n            mensaje_usuario: mensajeLimpio,\n            tipo: 'pedir_fecha',\n            servicioSeleccionado: servicioElegido,\n            mensaje: `✅ *${servicioElegido.nombre}* seleccionado.\\n\\n📅 *¿Qué día prefieres?*\\n\\nEscribe la fecha en formato:\\n*DD/MM/YYYY* (ejemplo: *15/07/2025*)\\n\\nO escribe *hoy*, *mañana*, o el día de la semana\\n\\n❌ Escribe *cancelar* para salir.`,\n            abierto\n          }\n        };\n      }\n\n      let msgInvalido = `❌ Opción no válida. Escribe un número del *1* al *${servicios.length}*:\\n\\n`;\n      servicios.forEach((s, i) => { msgInvalido += `*${i + 1}.* ${s.nombre}\\n`; });\n      msgInvalido += `\\n❌ O escribe *cancelar* para salir.`;\n      return {\n        json: {\n          ...config,\n          numeroOrigen: webhook.numeroOrigen,\n          empresaId: webhook.empresaId,\n          nombreSesion,\n          pushName: webhook.pushName,\n          jidOriginal,\n          numeroDescifrado,\n          mensaje_usuario: mensajeLimpio,\n          mensaje: msgInvalido,\n          tipo: 'respuesta_directa',\n          abierto\n        }\n      };\n    }\n\n    // ── SELECCIONANDO FECHA ────────────────────────────────────────────\n    if (estadoActual === 'seleccionando_fecha') {\n      if (mensajeLimpio === 'cancelar') {\n        await this.helpers.httpRequest({\n          method: 'DELETE',\n          url: `http://host.docker.internal:3000/api/pedidos/sesion/${webhook.empresaId}/${webhook.numeroOrigen}`,\n          json: true\n        });\n        return {\n          json: {\n            ...config,\n            numeroOrigen: webhook.numeroOrigen,\n            empresaId: webhook.empresaId,\n            nombreSesion,\n            pushName: webhook.pushName,\n            jidOriginal,\n            numeroDescifrado,\n            mensaje_usuario: mensajeLimpio,\n            mensaje: '✅ Operación cancelada.\\n\\n📋 Escribe *servicios* para ver nuestro catálogo.',\n            tipo: 'respuesta_directa',\n            abierto\n          }\n        };\n      }\n\n      // Interpretar fecha natural o formato DD/MM/YYYY\n      const ZONA = 'America/Hermosillo';\n      const ahoraLocal = new Date(new Date().toLocaleString('en-US', { timeZone: ZONA }));\n      let fechaReserva = null;\n      let fechaTexto = '';\n\n      const matchFecha = mensajeLimpio.match(/(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{2,4})/);\n      if (matchFecha) {\n        const d = parseInt(matchFecha[1]);\n        const m = parseInt(matchFecha[2]) - 1;\n        const y = matchFecha[3].length === 2 ? 2000 + parseInt(matchFecha[3]) : parseInt(matchFecha[3]);\n        fechaReserva = new Date(y, m, d);\n        fechaTexto = `${String(d).padStart(2,'0')}/${String(m+1).padStart(2,'0')}/${y}`;\n      } else if (mensajeLimpio.includes('hoy')) {\n        fechaReserva = new Date(ahoraLocal);\n        fechaTexto = fechaReserva.toLocaleDateString('es-MX', { day:'2-digit', month:'2-digit', year:'numeric' });\n      } else if (mensajeLimpio.includes('mañana') || mensajeLimpio.includes('manana')) {\n        fechaReserva = new Date(ahoraLocal);\n        fechaReserva.setDate(fechaReserva.getDate() + 1);\n        fechaTexto = fechaReserva.toLocaleDateString('es-MX', { day:'2-digit', month:'2-digit', year:'numeric' });\n      } else {\n        const diasSemana = { 'lunes': 1, 'martes': 2, 'miercoles': 3, 'miércoles': 3, 'jueves': 4, 'viernes': 5, 'sabado': 6, 'sábado': 6, 'domingo': 0 };\n        for (const [nombre, numDia] of Object.entries(diasSemana)) {\n          if (mensajeLimpio.includes(nombre)) {\n            const hoy = ahoraLocal.getDay();\n            let diff = numDia - hoy;\n            if (diff <= 0) diff += 7;\n            fechaReserva = new Date(ahoraLocal);\n            fechaReserva.setDate(fechaReserva.getDate() + diff);\n            fechaTexto = fechaReserva.toLocaleDateString('es-MX', { day:'2-digit', month:'2-digit', year:'numeric' });\n            break;\n          }\n        }\n      }\n\n      if (!fechaReserva) {\n        return {\n          json: {\n            ...config,\n            numeroOrigen: webhook.numeroOrigen,\n            empresaId: webhook.empresaId,\n            nombreSesion,\n            pushName: webhook.pushName,\n            jidOriginal,\n            numeroDescifrado,\n            mensaje_usuario: mensajeLimpio,\n            mensaje: '⚠️ *Fecha no reconocida*\\n\\nPor favor escribe la fecha así:\\n*DD/MM/YYYY* (ejemplo: *15/07/2025*)\\n\\nO escribe: *hoy*, *mañana* o el día de la semana (lunes, martes...)\\n\\n❌ O escribe *cancelar* para salir.',\n            tipo: 'respuesta_directa',\n            abierto\n          }\n        };\n      }\n\n      // Guardar fecha y pedir hora\n      await this.helpers.httpRequest({\n        method: 'PUT',\n        url: `http://host.docker.internal:3000/api/pedidos/sesion/${webhook.empresaId}/${webhook.numeroOrigen}`,\n        headers: { 'Content-Type': 'application/json' },\n        body: {\n          estado: 'seleccionando_hora',\n          datosPedido: { ...datosSesion, fechaSeleccionada: fechaTexto, fechaISO: fechaReserva.toISOString().split('T')[0] }\n        },\n        json: true\n      });\n\n      const servicioNombre = datosSesion?.servicioSeleccionado?.nombre || 'el servicio';\n      return {\n        json: {\n          ...config,\n          numeroOrigen: webhook.numeroOrigen,\n          empresaId: webhook.empresaId,\n          nombreSesion,\n          pushName: webhook.pushName,\n          jidOriginal,\n          numeroDescifrado,\n          mensaje_usuario: mensajeLimpio,\n          tipo: 'respuesta_directa',\n          mensaje: `📅 *Fecha seleccionada: ${fechaTexto}*\\n\\n⏰ *¿A qué hora prefieres?*\\n\\nEscribe la hora en formato de 24hrs:\\n*HH:MM* (ejemplo: *10:00*, *14:30*)\\n\\n❌ Escribe *cancelar* para salir.`,\n          abierto\n        }\n      };\n    }\n\n    // ── SELECCIONANDO HORA ─────────────────────────────────────────────\n    if (estadoActual === 'seleccionando_hora') {\n      if (mensajeLimpio === 'cancelar') {\n        await this.helpers.httpRequest({\n          method: 'DELETE',\n          url: `http://host.docker.internal:3000/api/pedidos/sesion/${webhook.empresaId}/${webhook.numeroOrigen}`,\n          json: true\n        });\n        return {\n          json: {\n            ...config,\n            numeroOrigen: webhook.numeroOrigen,\n            empresaId: webhook.empresaId,\n            nombreSesion,\n            pushName: webhook.pushName,\n            jidOriginal,\n            numeroDescifrado,\n            mensaje_usuario: mensajeLimpio,\n            mensaje: '✅ Operación cancelada.\\n\\n📋 Escribe *servicios* para ver nuestro catálogo.',\n            tipo: 'respuesta_directa',\n            abierto\n          }\n        };\n      }\n\n      const matchHora = mensajeLimpio.match(/^(\\d{1,2}):(\\d{2})$/);\n      if (!matchHora) {\n        return {\n          json: {\n            ...config,\n            numeroOrigen: webhook.numeroOrigen,\n            empresaId: webhook.empresaId,\n            nombreSesion,\n            pushName: webhook.pushName,\n            jidOriginal,\n            numeroDescifrado,\n            mensaje_usuario: mensajeLimpio,\n            mensaje: '⚠️ *Hora no reconocida*\\n\\nEscribe la hora así:\\n*HH:MM* (ejemplo: *10:00* o *14:30*)\\n\\n❌ O escribe *cancelar* para salir.',\n            tipo: 'respuesta_directa',\n            abierto\n          }\n        };\n      }\n\n      const horaStr = `${matchHora[1].padStart(2,'0')}:${matchHora[2]}`;\n      const fechaISO = datosSesion?.fechaISO;\n      const fechaHoraISO = `${fechaISO}T${horaStr}:00`;\n\n      // Guardar hora y pedir nombre\n      await this.helpers.httpRequest({\n        method: 'PUT',\n        url: `http://host.docker.internal:3000/api/pedidos/sesion/${webhook.empresaId}/${webhook.numeroOrigen}`,\n        headers: { 'Content-Type': 'application/json' },\n        body: {\n          estado: 'esperando_nombre',\n          datosPedido: { ...datosSesion, horaSeleccionada: horaStr, fechaHoraISO }\n        },\n        json: true\n      });\n\n      return {\n        json: {\n          ...config,\n          numeroOrigen: webhook.numeroOrigen,\n          empresaId: webhook.empresaId,\n          nombreSesion,\n          pushName: webhook.pushName,\n          jidOriginal,\n          numeroDescifrado,\n          mensaje_usuario: mensajeLimpio,\n          tipo: 'respuesta_directa',\n          mensaje: `⏰ *Hora seleccionada: ${horaStr}*\\n\\n📝 *¿Cuál es tu nombre completo?*\\n\\nEscribe tu nombre para confirmar la cita.\\n\\n❌ O escribe *cancelar* para salir.`,\n          abierto\n        }\n      };\n    }\n\n    // ── ESPERANDO NOMBRE PARA CITA ─────────────────────────────────────\n    if (estadoActual === 'esperando_nombre') {\n      const esComando =\n        mensajeLimpio === 'cancelar' ||\n        /^\\d+$/.test(mensajeLimpio) ||\n        /\\b(servicios?|cat[aá]logo|agendar|reservar|cita)\\b/i.test(mensajeLimpio) ||\n        /\\b(mis?\\s+citas?|ver\\s+mis?\\s+citas?)\\b/i.test(mensajeLimpio) ||\n        /\\b(?:cancelar|cancela)\\s+(?:cita|reserva)\\s*#?\\d+\\b/i.test(mensajeLimpio) ||\n        /\\b(hola|buenas|buenos dias|buenas tardes|buenas noches)\\b/i.test(mensajeLimpio);\n\n      if (esComando) {\n        try {\n          await this.helpers.httpRequest({\n            method: 'DELETE',\n            url: `http://host.docker.internal:3000/api/pedidos/sesion/${webhook.empresaId}/${webhook.numeroOrigen}`,\n            json: true\n          });\n        } catch(e) {}\n        // Cae al flujo normal\n      } else {\n        if (mensaje.trim().length < 3) {\n          return {\n            json: {\n              ...config,\n              numeroOrigen: webhook.numeroOrigen,\n              empresaId: webhook.empresaId,\n              nombreSesion,\n              pushName: webhook.pushName,\n              jidOriginal,\n              numeroDescifrado,\n              mensaje_usuario: mensajeLimpio,\n              mensaje: '⚠️ *Nombre muy corto*\\n\\n📝 Escribe tu nombre completo (mínimo 3 caracteres).\\n\\n❌ O escribe *cancelar* para anular.',\n              tipo: 'respuesta_directa',\n              abierto\n            }\n          };\n        }\n\n        return {\n          json: {\n            ...config,\n            numeroOrigen: webhook.numeroOrigen,\n            empresaId: webhook.empresaId,\n            nombreSesion,\n            pushName: webhook.pushName,\n            jidOriginal,\n            numeroDescifrado,\n            nombreCliente: mensaje.trim(),\n            servicioId: datosSesion?.servicioSeleccionado?.id,\n            servicioNombre: datosSesion?.servicioSeleccionado?.nombre,\n            fechaReservacion: datosSesion?.fechaHoraISO,\n            fechaTexto: datosSesion?.fechaSeleccionada,\n            horaTexto: datosSesion?.horaSeleccionada,\n            tipo: 'crear_reservacion',\n            mensaje: '✅ *Confirmando tu cita...*',\n            mensaje_usuario: mensajeLimpio,\n            abierto\n          }\n        };\n      }\n    }\n\n    // ── ESPERANDO PERSONAS ─────────────────────────────────────────────\n    if (estadoActual === 'esperando_personas') {\n      if (mensajeLimpio === 'cancelar') {\n        await this.helpers.httpRequest({\n          method: 'DELETE',\n          url: `http://host.docker.internal:3000/api/pedidos/sesion/${webhook.empresaId}/${webhook.numeroOrigen}`,\n          json: true\n        });\n        return {\n          json: {\n            ...config,\n            numeroOrigen: webhook.numeroOrigen,\n            empresaId: webhook.empresaId,\n            nombreSesion,\n            pushName: webhook.pushName,\n            jidOriginal,\n            numeroDescifrado,\n            mensaje_usuario: mensajeLimpio,\n            mensaje: '✅ Operación cancelada.',\n            tipo: 'respuesta_directa',\n            abierto\n          }\n        };\n      }\n      const numPersonas = parseInt(mensajeLimpio);\n      if (isNaN(numPersonas) || numPersonas < 1) {\n        return {\n          json: {\n            ...config,\n            numeroOrigen: webhook.numeroOrigen,\n            empresaId: webhook.empresaId,\n            nombreSesion,\n            pushName: webhook.pushName,\n            jidOriginal,\n            numeroDescifrado,\n            mensaje_usuario: mensajeLimpio,\n            mensaje: '⚠️ Escribe el número de personas (ejemplo: *1*, *2*, *3*)\\n\\n❌ O escribe *cancelar* para salir.',\n            tipo: 'respuesta_directa',\n            abierto\n          }\n        };\n      }\n      await this.helpers.httpRequest({\n        method: 'PUT',\n        url: `http://host.docker.internal:3000/api/pedidos/sesion/${webhook.empresaId}/${webhook.numeroOrigen}`,\n        headers: { 'Content-Type': 'application/json' },\n        body: {\n          estado: 'esperando_nombre',\n          datosPedido: { ...datosSesion, numeroPersonas: numPersonas }\n        },\n        json: true\n      });\n      return {\n        json: {\n          ...config,\n          numeroOrigen: webhook.numeroOrigen,\n          empresaId: webhook.empresaId,\n          nombreSesion,\n          pushName: webhook.pushName,\n          jidOriginal,\n          numeroDescifrado,\n          mensaje_usuario: mensajeLimpio,\n          tipo: 'respuesta_directa',\n          mensaje: `👥 *${numPersonas} persona(s)* registrada(s).\\n\\n📝 *¿Cuál es tu nombre completo?*\\n\\n❌ O escribe *cancelar* para salir.`,\n          abierto\n        }\n      };\n    }\n  }\n} catch (error) {\n  console.log('ℹ️ No hay sesión activa:', error.message);\n}\n\n// ── CANCELAR sin sesión ──────────────────────────────────────────────────\nif (esCancelarGeneral) {\n  return {\n    json: {\n      ...config,\n      numeroOrigen: webhook.numeroOrigen,\n      empresaId: webhook.empresaId,\n      nombreSesion,\n      pushName: webhook.pushName,\n      jidOriginal,\n      numeroDescifrado,\n      mensaje_usuario: mensajeLimpio,\n      mensaje: 'ℹ️ *No tienes ninguna cita activa en proceso*\\n\\n📋 Escribe *servicios* para ver nuestro catálogo\\n📅 Escribe *agendar* para reservar una cita\\n\\n💬 ¿En qué puedo ayudarte?',\n      tipo: 'respuesta_directa',\n      abierto\n    }\n  };\n}\n\n// ── FLUJO NORMAL ─────────────────────────────────────────────────────────\nconst mensajeLower = mensajeLimpio.toLowerCase();\nlet tipoMensaje = 'fallback';\nlet mensajeRespuesta = '';\n\nconst confirmacionesSimples = ['si', 'sí', 'ok', 'vale', 'okey', 'okay', 'de acuerdo', 'claro', 'bueno', 'listo', 'entendido', 'perfecto', 'dale', 'ya', 'bien'];\nif (confirmacionesSimples.includes(mensajeLower)) {\n  return {\n    json: {\n      ...config,\n      mensaje_usuario: mensajeLimpio,\n      numeroOrigen: webhook.numeroOrigen,\n      pushName: webhook.pushName,\n      jidOriginal,\n      numeroDescifrado,\n      empresaId: webhook.empresaId,\n      nombreSesion,\n      conectado: config.conectado,\n      abierto,\n      hora_actual: hour,\n      dia_actual: day,\n      tipo: 'fallback',\n      mensaje: abierto ? config.mensaje_horario : config.mensaje_fuera_horario\n    }\n  };\n}\n\nconst saludos = ['hola', 'buenas', 'buenos dias', 'buenas tardes', 'buenas noches', 'buen dia', 'hey', 'ola', 'que tal', 'buenos días'];\nif (saludos.some(s => mensajeLower.includes(s))) {\n  tipoMensaje = 'saludo_inicial';\n} else if (\n  mensajeLower.includes('horario') || mensajeLower.includes('hora') ||\n  mensajeLower.includes('cuando abren') || mensajeLower.includes('cuando cierran') ||\n  mensajeLower.includes('que hora') || mensajeLower.includes('a que hora')\n) {\n  tipoMensaje = 'mostrar_horario';\n} else if (\n  mensajeLower.includes('servicio') || mensajeLower.includes('catalogo') ||\n  mensajeLower.includes('catálogo') || mensajeLower.includes('que ofrecen') ||\n  mensajeLower.includes('que hacen') || mensajeLower.includes('ver servicios')\n) {\n  tipoMensaje = 'ver_servicios';\n} else if (\n  mensajeLower.includes('agendar') || mensajeLower.includes('reservar') ||\n  mensajeLower.includes('cita') || mensajeLower.includes('turno') ||\n  mensajeLower.includes('quiero agendar') || mensajeLower.includes('quiero reservar')\n) {\n  tipoMensaje = 'iniciar_reservacion';\n} else if (mensajeLower.includes('ayuda') || mensajeLower.includes('opciones')) {\n  tipoMensaje = 'saludo_inicial';\n} else {\n  tipoMensaje = 'fallback';\n  mensajeRespuesta = abierto ? config.mensaje_horario : config.mensaje_fuera_horario;\n}\n\nconsole.log('📤 Tipo reservación:', tipoMensaje);\n\nreturn {\n  json: {\n    ...config,\n    mensaje_usuario: mensajeLimpio,\n    numeroOrigen: webhook.numeroOrigen,\n    pushName: webhook.pushName,\n    jidOriginal,\n    numeroDescifrado,\n    empresaId: webhook.empresaId,\n    nombreSesion,\n    conectado: config.conectado,\n    abierto,\n    hora_actual: hour,\n    dia_actual: day,\n    tipo: tipoMensaje,\n    mensaje: mensajeRespuesta || (abierto ? config.mensaje_horario : config.mensaje_fuera_horario),\n    mensaje_respuesta: abierto ? config.mensaje_horario : config.mensaje_fuera_horario\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        592
      ],
      "id": "res-008",
      "name": "Validar y Clasificar"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "mostrar_horario",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mostrar_horario"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "ver_servicios",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ver_servicios"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "iniciar_reservacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "iniciar_reservacion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "respuesta_directa",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "respuesta_directa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "saludo_inicial",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "saludo_inicial"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "ver_citas",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ver_citas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "crear_reservacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "crear_reservacion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "cancelar_cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar_cita"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2096,
        528
      ],
      "id": "res-009",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const config = $('HTTP Request Config').first().json;\nconst switchData = $('Switch').first().json;\n\nlet nombreSesion = switchData.nombreSesion;\nif (nombreSesion && nombreSesion.startsWith(`${switchData.empresaId}_`)) {\n  nombreSesion = nombreSesion.substring(`${switchData.empresaId}_`.length);\n}\n\nconst horaInicio = config.hora_inicio || 9;\nconst horaFin = config.hora_fin || 18;\nlet diasLaborales = config.dias_laborales || [1, 2, 3, 4, 5];\nif (typeof diasLaborales === 'string') { try { diasLaborales = JSON.parse(diasLaborales); } catch(e){} }\n\nconst nombresDias = { 0: 'Domingo', 1: 'Lunes', 2: 'Martes', 3: 'Miércoles', 4: 'Jueves', 5: 'Viernes', 6: 'Sábado' };\nconst diasTexto = diasLaborales.map(d => nombresDias[d]).join(', ');\n\nconst mensaje = `🕐 *Horario de Atención*\\n\\n📅 *Días:*\\n${diasTexto}\\n\\n⏰ *Horario:*\\n${horaInicio}:00 hrs - ${horaFin}:00 hrs\\n\\n━━━━━━━━━━━━━━━━━━━━━\\n\\n💬 ¿En qué más puedo ayudarte?\\n\\n📋 Escribe *servicios* para ver nuestro catálogo\\n📅 Escribe *agendar* para reservar una cita`;\n\nreturn {\n  json: {\n    numeroOrigen: switchData.numeroOrigen,\n    empresaId: switchData.empresaId,\n    nombreSesion,\n    mensaje\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        112
      ],
      "id": "res-010",
      "name": "Mostrar Horario"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:3000/api/catalogo-servicios/publico/{{ $json.empresaId }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2944,
        272
      ],
      "id": "res-011",
      "name": "Obtener Servicios Catálogo"
    },
    {
      "parameters": {
        "jsCode": "const httpData = $input.first().json;\nconst switchData = $('Switch').first().json;\n\nconst servicios = (httpData.data || []).filter(s => s.disponible === 1 || s.disponible === true);\n\nlet nombreSesion = switchData.nombreSesion;\nif (nombreSesion && nombreSesion.startsWith(`${switchData.empresaId}_`)) {\n  nombreSesion = nombreSesion.substring(`${switchData.empresaId}_`.length);\n}\n\nif (!servicios || servicios.length === 0) {\n  return {\n    json: {\n      numeroOrigen: switchData.numeroOrigen,\n      empresaId: switchData.empresaId,\n      nombreSesion,\n      mensaje: '📋 *No hay servicios disponibles actualmente.*\\n\\n💬 Contáctanos para más información.',\n      productosConImagen: []\n    }\n  };\n}\n\nlet mensajeCompleto = '📋 *Nuestros Servicios*\\n\\n';\nservicios.forEach((s, i) => {\n  mensajeCompleto += `*${i + 1}.* ${s.nombre}\\n`;\n  if (s.precio) mensajeCompleto += `💰 $${parseFloat(s.precio).toFixed(2)}\\n`;\n  if (s.duracion_minutos) mensajeCompleto += `⏱️ Duración: ${s.duracion_minutos} min\\n`;\n  if (s.descripcion) mensajeCompleto += `📝 ${s.descripcion}\\n`;\n  mensajeCompleto += '\\n';\n});\nmensajeCompleto += `━━━━━━━━━━━━━━━━━━━━━\\n\\n📅 *¿Quieres agendar una cita?*\\n\\nEscribe *agendar* para iniciar el proceso\\n📋 Escribe *mis citas* para ver tus reservaciones`;\n\nreturn {\n  json: {\n    numeroOrigen: switchData.numeroOrigen,\n    empresaId: switchData.empresaId,\n    nombreSesion,\n    pushName: switchData.pushName,\n    mensaje: mensajeCompleto\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3104,
        272
      ],
      "id": "res-012",
      "name": "Formatear Servicios"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:3000/api/catalogo-servicios/publico/{{ $json.empresaId }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2944,
        432
      ],
      "id": "res-013",
      "name": "Obtener Servicios Para Agendar"
    },
    {
      "parameters": {
        "jsCode": "const httpData = $input.first().json;\nconst switchData = $('Switch').first().json;\n\nconst servicios = (httpData.data || []).filter(s => s.disponible === 1 || s.disponible === true);\n\nlet nombreSesion = switchData.nombreSesion;\nif (nombreSesion && nombreSesion.startsWith(`${switchData.empresaId}_`)) {\n  nombreSesion = nombreSesion.substring(`${switchData.empresaId}_`.length);\n}\n\nif (!servicios || servicios.length === 0) {\n  return {\n    json: {\n      numeroOrigen: switchData.numeroOrigen,\n      empresaId: switchData.empresaId,\n      nombreSesion,\n      pushName: switchData.pushName,\n      mensaje: '📋 *No hay servicios disponibles para agendar.*\\n\\n💬 Contáctanos para más información.',\n      tipo: 'respuesta_directa'\n    }\n  };\n}\n\n// Borrar sesión anterior\ntry {\n  await this.helpers.httpRequest({\n    method: 'DELETE',\n    url: `http://host.docker.internal:3000/api/pedidos/sesion/${switchData.empresaId}/${switchData.numeroOrigen}`,\n    json: true\n  });\n} catch(e) {}\n\n// Crear sesión nueva en estado seleccionando_servicio\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://host.docker.internal:3000/api/pedidos/sesion',\n    body: {\n      empresaId: switchData.empresaId,\n      numeroOrigen: switchData.numeroOrigen,\n      nombreSesion,\n      pushName: switchData.pushName,\n      jidOriginal: switchData.jidOriginal || '',\n      numeroDescifrado: switchData.numeroDescifrado || false,\n      estado: 'seleccionando_servicio',\n      datosPedido: { servicios: servicios.map(s => ({ id: s.id, nombre: s.nombre, precio: s.precio, duracion_minutos: s.duracion_minutos })) }\n    },\n    json: true\n  });\n} catch(e) {\n  console.log('❌ Error creando sesión:', e.message);\n}\n\nlet mensaje = '📅 *Agendar una Cita*\\n\\n¿Qué servicio deseas?\\n\\n';\nservicios.forEach((s, i) => {\n  mensaje += `*${i + 1}.* ${s.nombre}`;\n  if (s.precio) mensaje += ` — $${parseFloat(s.precio).toFixed(2)}`;\n  if (s.duracion_minutos) mensaje += ` (${s.duracion_minutos} min)`;\n  mensaje += '\\n';\n});\nmensaje += `\\n✏️ Escribe el *número* del servicio\\n❌ O escribe *cancelar* para salir.`;\n\nreturn {\n  json: {\n    numeroOrigen: switchData.numeroOrigen,\n    empresaId: switchData.empresaId,\n    nombreSesion,\n    pushName: switchData.pushName,\n    mensaje\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3104,
        432
      ],
      "id": "res-014",
      "name": "Iniciar Flujo Reservación"
    },
    {
      "parameters": {
        "jsCode": "const switchData = $input.first().json;\nreturn {\n  json: {\n    numeroOrigen: switchData.numeroOrigen,\n    empresaId: switchData.empresaId,\n    nombreSesion: switchData.nombreSesion,\n    mensaje: switchData.mensaje\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3104,
        592
      ],
      "id": "res-015",
      "name": "Respuesta Directa"
    },
    {
      "parameters": {
        "jsCode": "const codeData = $('Validar y Clasificar').first().json;\nconst webhookData = $('Recibir Mensaje').first().json.body;\nconst config = $('HTTP Request Config').first().json;\nconst nombreUsuario = webhookData.pushName || 'amigo';\n\nlet nombreSesion = codeData.nombreSesion;\nif (nombreSesion && nombreSesion.startsWith(`${codeData.empresaId}_`)) {\n  nombreSesion = nombreSesion.substring(`${codeData.empresaId}_`.length);\n}\n\nconst mensajeBienvenida = config.mensaje_horario;\nlet mensaje = '';\n\nif (mensajeBienvenida && mensajeBienvenida.trim() !== '') {\n  mensaje = mensajeBienvenida.replace('{nombre}', nombreUsuario);\n} else {\n  mensaje = `👋 ¡Hola ${nombreUsuario}! Bienvenido(a)\\n\\n¿En qué puedo ayudarte hoy?\\n\\n📋 Escribe *servicios* para ver nuestro catálogo\\n📅 Escribe *agendar* para reservar una cita\\n🕐 Escribe *horarios* para ver horarios\\n📋 Escribe *mis citas* para ver tus reservaciones\\n\\n💬 ¿Qué necesitas?`;\n}\n\nreturn {\n  json: {\n    numeroOrigen: codeData.numeroOrigen,\n    empresaId: codeData.empresaId,\n    nombreSesion,\n    mensaje\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3104,
        736
      ],
      "id": "res-016",
      "name": "Saludo Inicial"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:3000/api/reservaciones/cliente/{{ $json.numeroOrigen }}/{{ $json.empresaId }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3200,
        880
      ],
      "id": "res-017",
      "name": "Obtener Citas Cliente"
    },
    {
      "parameters": {
        "jsCode": "const citasResponse = $input.first().json;\nconst switchData = $('Switch').first().json;\n\nif (!citasResponse.success || !citasResponse.data || citasResponse.data.length === 0) {\n  return {\n    json: {\n      numeroOrigen: switchData.numeroOrigen,\n      empresaId: switchData.empresaId,\n      nombreSesion: switchData.nombreSesion,\n      pushName: switchData.pushName,\n      mensaje: '📅 *No tienes citas registradas*\\n\\n✅ Escribe *agendar* para reservar tu primera cita.'\n    }\n  };\n}\n\nconst citas = citasResponse.data;\n\nfunction formatearFecha(fechaISO) {\n  const fecha = new Date(fechaISO);\n  return fecha.toLocaleDateString('es-MX', { weekday: 'long', day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit', hour12: true });\n}\n\nfunction formatearEstado(estado) {\n  const estados = { 'pendiente': '⏳ Pendiente', 'confirmada': '✅ Confirmada', 'cancelada': '❌ Cancelada' };\n  return estados[estado] || estado;\n}\n\nlet mensaje = `📅 *Tus Citas (${citas.length})*\\n\\n`;\n\ncitas.forEach((cita, index) => {\n  const fecha = formatearFecha(cita.fecha_reservacion);\n  const estado = formatearEstado(cita.estado);\n  let emoji = '⏳';\n  if (cita.estado === 'confirmada') emoji = '✅';\n  if (cita.estado === 'cancelada') emoji = '❌';\n  mensaje += `${emoji} *Cita #${cita.id}*\\n`;\n  mensaje += `📅 ${fecha}\\n`;\n  if (cita.servicio) mensaje += `💼 Servicio: ${cita.servicio.nombre}\\n`;\n  mensaje += `📊 Estado: ${estado}\\n`;\n  if (cita.numero_personas && cita.numero_personas > 1) mensaje += `👥 Personas: ${cita.numero_personas}\\n`;\n  if (cita.notas) mensaje += `📝 Notas: ${cita.notas}\\n`;\n  if (cita.estado === 'pendiente' || cita.estado === 'confirmada') {\n    mensaje += `\\n❌ Para cancelar: *cancelar cita ${cita.id}*\\n`;\n  }\n  mensaje += `\\n━━━━━━━━━━━━━━━━━━━━━\\n`;\n  if (index < citas.length - 1) mensaje += '\\n';\n});\n\nmensaje += `\\n💬 *¿Necesitas algo más?*\\n`;\nmensaje += `📅 Escribe *agendar* para una nueva cita\\n`;\nmensaje += `📋 Escribe *servicios* para ver nuestro catálogo`;\n\nreturn {\n  json: {\n    numeroOrigen: switchData.numeroOrigen,\n    empresaId: switchData.empresaId,\n    nombreSesion: switchData.nombreSesion,\n    pushName: switchData.pushName,\n    mensaje\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3400,
        880
      ],
      "id": "res-018",
      "name": "Formatear Citas"
    },
    {
      "parameters": {
        "jsCode": "const switchData = $('Switch').first().json;\n\nlet nombreSesion = switchData.nombreSesion;\nif (nombreSesion && nombreSesion.startsWith(`${switchData.empresaId}_`)) {\n  nombreSesion = nombreSesion.substring(`${switchData.empresaId}_`.length);\n}\n\nreturn {\n  json: {\n    numeroOrigen: switchData.numeroOrigen,\n    empresaId: switchData.empresaId,\n    nombreSesion,\n    pushName: switchData.pushName,\n    servicioId: switchData.servicioId,\n    servicioNombre: switchData.servicioNombre,\n    fechaReservacion: switchData.fechaReservacion,\n    fechaTexto: switchData.fechaTexto,\n    horaTexto: switchData.horaTexto,\n    nombreCliente: switchData.nombreCliente,\n    abierto: !!switchData.abierto\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        1024
      ],
      "id": "res-019",
      "name": "Preparar Crear Reservación"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/reservaciones",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"empresa_id\": {{ JSON.stringify($json.empresaId) }},\n  \"servicio_id\": {{ JSON.stringify($json.servicioId || null) }},\n  \"nombre_cliente\": {{ JSON.stringify($json.nombreCliente || '') }},\n  \"telefono_cliente\": {{ JSON.stringify($json.numeroOrigen || '') }},\n  \"fecha_reservacion\": {{ JSON.stringify($json.fechaReservacion || '') }},\n  \"numero_personas\": 1,\n  \"notas\": \"\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3440,
        1024
      ],
      "id": "res-020",
      "name": "Crear Reservación HTTP"
    },
    {
      "parameters": {
        "jsCode": "const crearResponse = $input.first().json;\nconst prepData = $('Preparar Crear Reservación').first().json;\n\nif (crearResponse.success && crearResponse.data) {\n  const cita = crearResponse.data;\n  // Limpiar sesión temporal\n  try {\n    await this.helpers.httpRequest({\n      method: 'DELETE',\n      url: `http://host.docker.internal:3000/api/pedidos/sesion/${prepData.empresaId}/${prepData.numeroOrigen}`,\n      json: true\n    });\n  } catch(e) {}\n\n  let mensaje = `✅ *¡Cita reservada exitosamente!*\\n\\n`;\n  mensaje += `📋 *Detalles de tu cita:*\\n\\n`;\n  mensaje += `🆔 Cita #${cita.id}\\n`;\n  mensaje += `👤 Nombre: ${prepData.nombreCliente}\\n`;\n  if (prepData.servicioNombre) mensaje += `💼 Servicio: ${prepData.servicioNombre}\\n`;\n  mensaje += `📅 Fecha: ${prepData.fechaTexto || 'Por confirmar'}\\n`;\n  mensaje += `⏰ Hora: ${prepData.horaTexto || 'Por confirmar'}\\n`;\n  mensaje += `📊 Estado: ⏳ Pendiente de confirmación\\n\\n`;\n  mensaje += `━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n  mensaje += `📋 Escribe *mis citas* para ver tus reservaciones\\n`;\n  mensaje += `❌ Para cancelar: *cancelar cita ${cita.id}*`;\n\n  return { json: { numeroOrigen: prepData.numeroOrigen, empresaId: prepData.empresaId, nombreSesion: prepData.nombreSesion, pushName: prepData.pushName, mensaje } };\n} else {\n  return { json: { numeroOrigen: prepData.numeroOrigen, empresaId: prepData.empresaId, nombreSesion: prepData.nombreSesion, pushName: prepData.pushName, mensaje: `❌ *Error al crear la cita*\\n\\n${crearResponse.mensaje || 'Por favor intenta de nuevo.'}\\n\\n💬 Escribe *agendar* para intentarlo de nuevo.` } };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        1024
      ],
      "id": "res-021",
      "name": "Formatear Respuesta Reservación"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:3000/api/reservaciones/{{ $json.citaId }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3200,
        1200
      ],
      "id": "res-022",
      "name": "Obtener Detalle Cita"
    },
    {
      "parameters": {
        "jsCode": "const switchData = $('Switch').first().json;\nconst detalleResponse = $input.first().json;\n\nif (!detalleResponse.success || !detalleResponse.data) {\n  return { json: { numeroOrigen: switchData.numeroOrigen, empresaId: switchData.empresaId, nombreSesion: switchData.nombreSesion, pushName: switchData.pushName, mensaje: `❌ *Cita #${switchData.citaId} no encontrada*\\n\\n📋 Escribe *mis citas* para ver tus citas activas.`, esError: true } };\n}\n\nconst cita = detalleResponse.data;\n\nif (cita.telefono_cliente !== switchData.numeroOrigen) {\n  return { json: { numeroOrigen: switchData.numeroOrigen, empresaId: switchData.empresaId, nombreSesion: switchData.nombreSesion, pushName: switchData.pushName, mensaje: `❌ *No tienes permiso para cancelar esta cita*\\n\\n📋 Escribe *mis citas* para ver tus citas.`, esError: true } };\n}\n\nif (cita.estado === 'cancelada') {\n  return { json: { numeroOrigen: switchData.numeroOrigen, empresaId: switchData.empresaId, nombreSesion: switchData.nombreSesion, pushName: switchData.pushName, mensaje: `ℹ️ *La cita #${switchData.citaId} ya está cancelada*\\n\\n📋 Escribe *mis citas* para ver tus otras citas.`, esError: true } };\n}\n\nreturn { json: { numeroOrigen: switchData.numeroOrigen, empresaId: switchData.empresaId, nombreSesion: switchData.nombreSesion, pushName: switchData.pushName, citaId: switchData.citaId, citaData: cita, esError: false } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3440,
        1200
      ],
      "id": "res-023",
      "name": "Validar Cita"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "res-check-error",
              "leftValue": "={{ $json.esError }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3680,
        1200
      ],
      "id": "res-024",
      "name": "If Validación OK"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://host.docker.internal:3000/api/reservaciones/{{ $json.citaId }}/estado",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"estado\": \"cancelada\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3936,
        1104
      ],
      "id": "res-025",
      "name": "Cancelar Cita HTTP"
    },
    {
      "parameters": {
        "jsCode": "const cancelResponse = $input.first().json;\nconst validarData = $('Validar Cita').first().json;\n\nif (cancelResponse.success) {\n  return { json: { numeroOrigen: validarData.numeroOrigen, empresaId: validarData.empresaId, nombreSesion: validarData.nombreSesion, pushName: validarData.pushName, mensaje: `✅ *Cita #${validarData.citaId} cancelada exitosamente*\\n\\n━━━━━━━━━━━━━━━━━━━━━\\n\\n📅 Escribe *agendar* para hacer una nueva reservación\\n📋 Escribe *mis citas* para ver tu historial` } };\n} else {\n  return { json: { numeroOrigen: validarData.numeroOrigen, empresaId: validarData.empresaId, nombreSesion: validarData.nombreSesion, pushName: validarData.pushName, mensaje: `❌ *Error al cancelar la cita #${validarData.citaId}*\\n\\n${cancelResponse.mensaje || 'Por favor intenta de nuevo.'}` } };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4160,
        1104
      ],
      "id": "res-026",
      "name": "Formatear Respuesta Cancelación"
    },
    {
      "parameters": {
        "jsCode": "const validarData = $input.first().json;\nreturn { json: { numeroOrigen: validarData.numeroOrigen, empresaId: validarData.empresaId, nombreSesion: validarData.nombreSesion, pushName: validarData.pushName, mensaje: validarData.mensaje } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3968,
        1296
      ],
      "id": "res-027",
      "name": "Pasar Error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/whatsapp/public/enviar-mensaje",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"empresaId\": {{ JSON.stringify($json.empresaId) }},\n  \"nombreSesion\": {{ JSON.stringify($json.nombreSesion || '') }},\n  \"numeroDestino\": {{ JSON.stringify($json.numeroOrigen || '') }},\n  \"mensaje\": {{ JSON.stringify($json.mensaje || '') }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4800,
        576
      ],
      "id": "res-028",
      "name": "Enviar WhatsApp"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1-7"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        800,
        1800
      ],
      "id": "res-029",
      "name": "Recordatorio Diario Citas"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/api/reservaciones/recordatorios/hoy",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        1800
      ],
      "id": "res-030",
      "name": "Obtener Citas de Hoy"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "res-check-citas",
              "leftValue": "={{ $json.data?.length || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        1800
      ],
      "id": "res-031",
      "name": "¿Hay Citas Hoy?"
    },
    {
      "parameters": {
        "jsCode": "console.log('Sin citas para recordatorio hoy');\nreturn { json: { status: 'sin_citas' } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        1912
      ],
      "id": "res-032",
      "name": "Sin Citas Hoy"
    },
    {
      "parameters": {
        "jsCode": "const citas = $input.first().json.data;\nreturn citas.map(cita => ({ json: cita }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        1720
      ],
      "id": "res-033",
      "name": "Separar Citas"
    },
    {
      "parameters": {
        "jsCode": "const cita = $input.first().json;\n\nif (!cita.telefono_cliente || !cita.nombreSesion) {\n  console.log('Cita sin teléfono/sesión, omitiendo:', cita.id);\n  return [];\n}\n\nfunction formatearFechaHora(fechaISO) {\n  const fecha = new Date(fechaISO);\n  return fecha.toLocaleString('es-MX', { weekday: 'long', day: '2-digit', month: 'long', hour: '2-digit', minute: '2-digit', hour12: true });\n}\n\nconst fechaFormateada = formatearFechaHora(cita.fecha_reservacion);\nconst servicioNombre = cita.servicio?.nombre || 'tu servicio';\n\nconst mensaje = `📅 *Recordatorio de Cita*\\n\\nHola *${cita.nombre_cliente}*, tienes una cita *hoy*:\\n\\n💼 Servicio: ${servicioNombre}\\n📅 Fecha/Hora: ${fechaFormateada}\\n\\n¿Alguna duda? Escríbenos aquí.\\n\\n❌ Para cancelar: *cancelar cita ${cita.id}*`;\n\nreturn [{ json: { numeroDestino: cita.telefono_cliente, empresaId: cita.empresa_id, nombreSesion: cita.nombreSesion || '', mensaje } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1688,
        1720
      ],
      "id": "res-034",
      "name": "Preparar Recordatorio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/whatsapp/public/enviar-mensaje",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"empresaId\": {{ JSON.stringify($json.empresaId) }},\n  \"nombreSesion\": {{ JSON.stringify($json.nombreSesion || '') }},\n  \"numeroDestino\": {{ JSON.stringify($json.numeroDestino || '') }},\n  \"mensaje\": {{ JSON.stringify($json.mensaje || '') }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1904,
        1720
      ],
      "id": "res-035",
      "name": "Enviar Recordatorio WhatsApp"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-7"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        800,
        2100
      ],
      "id": "res-036",
      "name": "Resumen Diario Admin"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/api/reservaciones/resumen/hoy",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        2100
      ],
      "id": "res-037",
      "name": "Obtener Resumen Hoy"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "res-check-email",
              "leftValue": "={{ $json.emailDestino }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        2100
      ],
      "id": "res-038",
      "name": "¿Tiene Email Admin?"
    },
    {
      "parameters": {
        "jsCode": "const resumen = $input.first().json;\nconst fecha = new Date().toLocaleDateString('es-MX', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\nconst citas = resumen.data || [];\nconst totalCitas = citas.length;\n\nlet filasCitas = '';\nif (totalCitas > 0) {\n  filasCitas = citas.map(c => {\n    const hora = new Date(c.fecha_reservacion).toLocaleTimeString('es-MX', { hour: '2-digit', minute: '2-digit', hour12: true });\n    const servicio = c.servicio?.nombre || 'Sin especificar';\n    let colorEstado, labelEstado;\n    if (c.estado === 'confirmada') { colorEstado = '#28a745'; labelEstado = 'Confirmada'; }\n    else if (c.estado === 'cancelada') { colorEstado = '#dc3545'; labelEstado = 'Cancelada'; }\n    else { colorEstado = '#ffc107'; labelEstado = 'Pendiente'; }\n    return `<tr><td style=\"padding:10px;border-bottom:1px solid #eee\">${c.nombre_cliente}</td><td style=\"padding:10px;border-bottom:1px solid #eee;text-align:center\">${hora}</td><td style=\"padding:10px;border-bottom:1px solid #eee\">${servicio}</td><td style=\"padding:10px;border-bottom:1px solid #eee;text-align:center\"><span style=\"background:${colorEstado};color:#fff;padding:3px 10px;border-radius:12px;font-size:12px\">${labelEstado}</span></td></tr>`;\n  }).join('');\n} else {\n  filasCitas = '<tr><td colspan=\"4\" style=\"padding:20px;text-align:center;color:#888\">No hay citas programadas para hoy</td></tr>';\n}\n\nconst htmlEmail = `<div style=\"font-family:Arial,sans-serif;max-width:700px;margin:0 auto\"><div style=\"background:#4A90E2;padding:25px;border-radius:8px 8px 0 0\"><h2 style=\"color:#fff;margin:0\">📅 Resumen de Citas del Día</h2><p style=\"color:rgba(255,255,255,0.85);margin:5px 0 0\">${resumen.nombreEmpresa || 'Tu Negocio'}</p></div><div style=\"padding:25px;border:1px solid #eee\"><p><strong>${fecha}</strong> — Total de citas: <strong>${totalCitas}</strong></p><table style=\"width:100%;border-collapse:collapse\"><thead><tr style=\"background:#f8f9fa\"><th style=\"padding:10px;text-align:left;border-bottom:2px solid #eee\">Cliente</th><th style=\"padding:10px;text-align:center;border-bottom:2px solid #eee\">Hora</th><th style=\"padding:10px;text-align:left;border-bottom:2px solid #eee\">Servicio</th><th style=\"padding:10px;text-align:center;border-bottom:2px solid #eee\">Estado</th></tr></thead><tbody>${filasCitas}</tbody></table></div><div style=\"background:#f8f9fa;padding:15px;text-align:center;font-size:12px;color:#aaa\">Resumen automático diario · ${resumen.nombreEmpresa || ''}</div></div>`;\n\nreturn { json: { emailDestino: resumen.emailDestino, nombreEmpresa: resumen.nombreEmpresa, asunto: `📅 ${totalCitas} cita(s) hoy — ${resumen.nombreEmpresa || 'Agenda del día'}`, htmlEmail } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        2004
      ],
      "id": "res-039",
      "name": "Construir Email Resumen HTML"
    },
    {
      "parameters": {
        "fromEmail": "juabngonzalez4@gmail.com",
        "toEmail": "={{ $json.emailDestino }}",
        "subject": "={{ $json.asunto }}",
        "html": "={{ $json.htmlEmail }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1696,
        2004
      ],
      "id": "res-040",
      "name": "Enviar Resumen Email",
      "credentials": {
        "smtp": {
          "id": "iR6StcDr8CBoBYP6",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "content": "🤖 Flujo inicial - Clasificación AI",
        "height": 496,
        "width": 1536,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "res-sticky-1",
      "name": "Sticky Note Flujo Inicial"
    },
    {
      "parameters": {
        "content": "🔀 Validar, clasificar y enrutar mensajes",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        544
      ],
      "typeVersion": 1,
      "id": "res-sticky-2",
      "name": "Sticky Note Clasificar"
    },
    {
      "parameters": {
        "content": "📅 Flujo para pymes de servicios y reservaciones",
        "height": 1456,
        "width": 2800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2400,
        32
      ],
      "typeVersion": 1,
      "id": "res-sticky-3",
      "name": "Sticky Note Pymes"
    },
    {
      "parameters": {
        "content": "🔔 Recordatorios automáticos del día",
        "height": 400,
        "width": 1400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        656,
        1640
      ],
      "typeVersion": 1,
      "id": "res-sticky-4",
      "name": "Sticky Note Recordatorios"
    },
    {
      "parameters": {
        "content": "📊 Resumen diario al administrador",
        "height": 400,
        "width": 1200,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        656,
        1940
      ],
      "typeVersion": 1,
      "id": "res-sticky-5",
      "name": "Sticky Note Resumen"
    }
  ],
  "pinData": {},
  "connections": {
    "Recibir Mensaje": {
      "main": [
        [
          {
            "node": "HTTP Request Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Config": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent Clasificador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Clasificador": {
      "main": [
        [
          {
            "node": "If En Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Clasificador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If En Contexto": {
      "main": [
        [
          {
            "node": "Analizar Mensaje BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Mensaje BD": {
      "main": [
        [
          {
            "node": "Validar y Clasificar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar y Clasificar": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Mostrar Horario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Servicios Catálogo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Servicios Para Agendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Directa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Saludo Inicial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Citas Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Crear Reservación",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Detalle Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mostrar Horario": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Servicios Catálogo": {
      "main": [
        [
          {
            "node": "Formatear Servicios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Servicios": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Servicios Para Agendar": {
      "main": [
        [
          {
            "node": "Iniciar Flujo Reservación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iniciar Flujo Reservación": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Directa": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saludo Inicial": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Citas Cliente": {
      "main": [
        [
          {
            "node": "Formatear Citas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Citas": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Crear Reservación": {
      "main": [
        [
          {
            "node": "Crear Reservación HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Reservación HTTP": {
      "main": [
        [
          {
            "node": "Formatear Respuesta Reservación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta Reservación": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Detalle Cita": {
      "main": [
        [
          {
            "node": "Validar Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Cita": {
      "main": [
        [
          {
            "node": "If Validación OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Validación OK": {
      "main": [
        [
          {
            "node": "Cancelar Cita HTTP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pasar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar Cita HTTP": {
      "main": [
        [
          {
            "node": "Formatear Respuesta Cancelación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta Cancelación": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pasar Error": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recordatorio Diario Citas": {
      "main": [
        [
          {
            "node": "Obtener Citas de Hoy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Citas de Hoy": {
      "main": [
        [
          {
            "node": "¿Hay Citas Hoy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Citas Hoy?": {
      "main": [
        [
          {
            "node": "Separar Citas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin Citas Hoy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar Citas": {
      "main": [
        [
          {
            "node": "Preparar Recordatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Recordatorio": {
      "main": [
        [
          {
            "node": "Enviar Recordatorio WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumen Diario Admin": {
      "main": [
        [
          {
            "node": "Obtener Resumen Hoy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Resumen Hoy": {
      "main": [
        [
          {
            "node": "¿Tiene Email Admin?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene Email Admin?": {
      "main": [
        [
          {
            "node": "Construir Email Resumen HTML",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Construir Email Resumen HTML": {
      "main": [
        [
          {
            "node": "Enviar Resumen Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "reservaciones-v1-0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "06f3abd0c47bf03702da44aaccc72833bb792a76d9bfba39d8fccc46f2369aad"
  },
  "id": "reservaciones-chatbot-01",
  "tags": []
}