flujos/Tesis - Chatbot WhatsApp Completo - CON IMÁGENES (5)3.json
{
  "name": "Tesis - Chatbot WhatsApp Completo - CON IMÁGENES - CORREGIDO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-mensaje",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5184,
        -784
      ],
      "id": "3873fc7a-1656-4959-96fa-656fd9b09ce1",
      "name": "Webhook",
      "webhookId": "7c272506-5f62-456f-a7c2-9dd935c3ec22"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/api/whatsapp/public/configuracion-chatbot",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"empresaId\": {{ JSON.stringify($json.body.empresaId) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5024,
        -784
      ],
      "id": "f625e0e5-5dee-4d0e-bb4f-46aae5ab1060",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg-usuario",
              "name": "mensaje_usuario",
              "value": "={{ $('Webhook').item.json.body.mensaje }}",
              "type": "string"
            },
            {
              "id": "session-key",
              "name": "nombreSesion",
              "value": "={{ $('HTTP Request').first().json.sessionKey }}",
              "type": "string"
            },
            {
              "id": "empresa-id",
              "name": "empresaId",
              "value": "={{ $('Webhook').item.json.body.empresaId }}",
              "type": "string"
            },
            {
              "id": "push-name",
              "name": "pushName",
              "value": "={{ $('Webhook').item.json.body.pushName }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4864,
        -784
      ],
      "id": "41937988-ba63-4065-a5f9-ab6d799eb7cf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').first().json.body.mensaje }}",
        "options": {
          "systemMessage": "Eres un clasificador de contexto para un chatbot de ventas por WhatsApp.\n\nTu tarea: Determinar si el mensaje del usuario requiere respuesta del bot de ventas.\n\n=== MENSAJES EN_CONTEXTO (el bot DEBE responder) ===\n✅ Consultas sobre productos/catálogo (cualquier variación):\n   - \"productos\", \"qué venden\", \"menu\", \"catálogo\"\n   - \"ver productos\", \"mostrar productos\"\n   - \"que tienen\", \"que hay\"\n\n✅ Horarios de atención (cualquier variación):\n   - \"horario\", \"horarios\", \"están abiertos\"\n   - \"a qué hora cierran\", \"a qué hora abren\"\n   - \"cuando abren\", \"cuando cierran\", \"que hora\"\n\n✅ Pedidos - TODAS LAS VARIACIONES:\n   - \"mis pedidos\", \"pedidos\", \"historial\"\n   - \"ver mis pedidos\", \"ver pedidos\"\n   - \"puedo ver mis pedidos\", \"quiero ver mis pedidos\"\n   - \"consultar pedidos\", \"revisar pedidos\"\n   - \"mis compras\", \"ver mis compras\"\n   - \"historial de pedidos\", \"mis órdenes\"\n\n✅ Cancelar pedidos - TODAS LAS VARIACIONES:\n   - \"cancelar\", \"cancelar pedido\"\n   - \"cancelar pedido #5\", \"cancelar pedido 5\"\n   - \"quiero cancelar\", \"cancelar orden\"\n   - Solo la palabra \"cancelar\"\n   - \"cancela pedido\", \"cancela\"\n\n✅ Disponibilidad de productos (\"tienen X disponible\")\n✅ Atención al cliente y soporte\n✅ Ubicación del negocio (\"dónde están\", \"dirección\")\n✅ Precios (\"cuánto cuesta\", \"precio de X\")\n✅ Preguntas generales del negocio\n\n✅ Pedidos en formato válido:\n   - \"1,2\" (producto 1, cantidad 2)\n   - \"1,2;3,1\" (múltiples productos)\n   - Cualquier patrón número,número\n\n✅ Confirmación de nombre para pedido (cuando ya hay pedido activo)\n✅ Saludos básicos de inicio (\"hola\", \"buenos días\", \"buenas tardes\")\n✅ Palabras clave de confirmación: \"sí\", \"no\" (en contexto de sesiones activas)\n\n=== MENSAJES FUERA_CONTEXTO (el bot NO debe responder) ===\n❌ Conversaciones personales entre personas físicas\n❌ Saludos dirigidos a personas específicas (\"hola Juan\", \"qué onda compa\")\n❌ Temas sentimentales o románticos\n❌ Pláticas casuales de amigos/familia\n❌ Bromas internas, memes, stickers sin contexto de negocio\n❌ Temas políticos, religiosos, deportivos (sin relación al negocio)\n❌ Mensajes claramente para otra persona\n❌ Spam o publicidad de otros negocios\n❌ Contenido ofensivo o inapropiado\n\n=== CASOS ESPECIALES ===\n- \"Hola\" solo → EN_CONTEXTO (puede ser inicio de compra)\n- \"Hola, cómo estás\" con nombre → FUERA_CONTEXTO (conversación personal)\n- Números solos sin comas (ej: \"123456\") → FUERA_CONTEXTO (puede ser teléfono/código)\n- Formato pedido válido (\"1,2\") → SIEMPRE EN_CONTEXTO\n- \"mis pedidos\" / \"ver mis pedidos\" / \"puedo ver mis pedidos\" → SIEMPRE EN_CONTEXTO\n- \"cancelar pedido #5\" → SIEMPRE EN_CONTEXTO\n- \"cancelar\" solo → SIEMPRE EN_CONTEXTO (puede haber sesión activa)\n- \"sí\" / \"si\" / \"no\" solos → SIEMPRE EN_CONTEXTO (pueden ser confirmaciones)\n\n=== INSTRUCCIONES DE RESPUESTA ===\nAnaliza el mensaje y responde ÚNICAMENTE con una de estas dos palabras:\n\"EN_CONTEXTO\" o \"FUERA_CONTEXTO\"\n\nNo agregues explicaciones, puntuación ni texto adicional.\nSolo la palabra exacta.\n\nIMPORTANTE: Cualquier mensaje que mencione \"pedidos\", \"mis pedidos\", \"ver pedidos\", \"historial\", \"cancelar\", \"compras\" debe ser clasificado como EN_CONTEXTO sin excepción."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -4688,
        -784
      ],
      "id": "860855de-c5de-457e-9531-80769d7900b3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-contexto",
              "leftValue": "={{ $json.output }}",
              "rightValue": "EN_CONTEXTO",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4384,
        -784
      ],
      "id": "5d13bf0e-8f2f-403d-abe5-b3c35c3bec3c",
      "name": "If"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -4640,
        -528
      ],
      "id": "1ddc8a17-0f07-4f4e-be57-e41b993fcda6",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "wFuRBaNBnwrhjYlY",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const config = $('HTTP Request').first().json;\nconst webhook = $('Webhook').first().json.body;\n\nconst ZONA_HORARIA = 'America/Hermosillo';\nconst now = new Date();\nconst horaLocal = new Date(now.toLocaleString('en-US', { timeZone: ZONA_HORARIA }));\nconst hour = horaLocal.getHours();\nconst day = horaLocal.getDay();\n\nconst horaInicio = config.horario_inicio \n  ? parseInt(config.horario_inicio.split(':')[0]) \n  : (config.hora_inicio || 9);\n\nconst horaFin = config.horario_fin \n  ? parseInt(config.horario_fin.split(':')[0]) \n  : (config.hora_fin || 18);\n\nlet diasLaborales = [1, 2, 3, 4, 5];\nif (config.dias_laborales) {\n  try {\n    diasLaborales = typeof config.dias_laborales === 'string' \n      ? JSON.parse(config.dias_laborales) \n      : config.dias_laborales;\n  } catch (e) {\n    console.log('⚠️ Error parseando dias_laborales:', e.message);\n  }\n}\n\nconst enDiaLaboral = diasLaborales.includes(day);\nconst enHorario = hour >= horaInicio && hour < horaFin;\nconst abierto = enDiaLaboral && enHorario;\n\nconst mensaje = webhook.mensaje || '';\nconst mensajeLimpio = mensaje.toLowerCase().trim();\n\nlet nombreSesion = config.sessionKey || \n                   webhook.sessionKey || \n                   `${webhook.empresaId}_empresa_${webhook.empresaId}`;\n\nif (nombreSesion && nombreSesion.startsWith(`${webhook.empresaId}_`)) {\n  nombreSesion = nombreSesion.substring(`${webhook.empresaId}_`.length);\n}\n\nconsole.log('═══════════════════════════════════════════════════════════════');\nconsole.log('🎯 MENSAJE RECIBIDO:', mensajeLimpio);\nconsole.log('📞 Usuario:', webhook.numeroOrigen);\nconsole.log('═══════════════════════════════════════════════════════════════');\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 🔥 PRIORIDAD 1: COMANDO VER MIS PEDIDOS - MEJORADO\n// ═══════════════════════════════════════════════════════════════════════════\nconst patronVerPedidos = /\\b(mis?\\s+pedidos?|ver\\s+mis?\\s+pedidos?|pedidos?|historial|mis?\\s+compras?|ver\\s+compras?|consultar\\s+pedidos?|revisar\\s+pedidos?|puedo\\s+ver\\s+mis?\\s+pedidos?|quiero\\s+ver\\s+mis?\\s+pedidos?)\\b/i;\n\nif (patronVerPedidos.test(mensajeLimpio)) {\n  console.log('✅ DETECTADO: Ver pedidos');\n  console.log('📝 Mensaje original:', mensaje);\n  console.log('📝 Mensaje limpio:', mensajeLimpio);\n  \n  return {\n    json: {\n      ...config,\n      numeroOrigen: webhook.numeroOrigen,\n      empresaId: webhook.empresaId,\n      nombreSesion: nombreSesion,\n      pushName: webhook.pushName,\n      mensaje_usuario: mensajeLimpio,\n      tipo: 'ver_pedidos',\n      mensaje: '📋 *Consultando tus pedidos...*',\n      abierto: abierto\n    }\n  };\n}\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 🔥 PRIORIDAD 2: CANCELAR PEDIDO - MEJORADO\n// ═══════════════════════════════════════════════════════════════════════════\n\n// Detectar \"cancelar pedido #35\" o \"cancelar pedido 35\"\nconst patronCancelarEspecifico = /\\b(?:cancelar|cancela)\\s+(?:pedido|orden)\\s*#?(\\d+)\\b/i;\nconst matchCancelarEspecifico = mensajeLimpio.match(patronCancelarEspecifico);\n\n// Detectar solo \"cancelar\" o \"cancela\"\nconst patronCancelarGeneral = /^(?:cancelar|cancela)$/i;\nconst esCancelarGeneral = patronCancelarGeneral.test(mensajeLimpio);\n\nconsole.log('🔍 Verificando cancelación:');\nconsole.log('   - Match específico:', matchCancelarEspecifico);\nconsole.log('   - Es cancelar general:', esCancelarGeneral);\n\nif (matchCancelarEspecifico) {\n  const pedidoId = matchCancelarEspecifico[1];\n  console.log(`🎯 DETECTADO: Cancelar pedido específico #${pedidoId}`);\n  \n  try {\n    // 1. OBTENER DETALLES DEL PEDIDO\n    console.log(`📡 Llamando a: /api/pedidos/detalle/${pedidoId}`);\n    const pedidoResponse = await fetch(`http://host.docker.internal:3000/api/pedidos/detalle/${pedidoId}`);\n    const pedidoData = await pedidoResponse.json();\n    console.log('📥 Respuesta detalle:', JSON.stringify(pedidoData, null, 2));\n    \n    if (!pedidoData.success || !pedidoData.data) {\n      console.log('❌ Pedido no encontrado');\n      return {\n        json: {\n          ...config,\n          numeroOrigen: webhook.numeroOrigen,\n          empresaId: webhook.empresaId,\n          nombreSesion: nombreSesion,\n          pushName: webhook.pushName,\n          mensaje_usuario: mensajeLimpio,\n          mensaje: `❌ *Pedido #${pedidoId} no encontrado*\\n\\n📋 Escribe *mis pedidos* para ver tus pedidos activos.`,\n          tipo: 'respuesta_directa',\n          abierto: abierto\n        }\n      };\n    }\n    \n    const pedido = pedidoData.data;\n    console.log('📦 Pedido encontrado:', {\n      id: pedido.id,\n      estado: pedido.estado,\n      telefono: pedido.telefono_cliente,\n      total: pedido.total\n    });\n    \n    // 2. VALIDAR PROPIEDAD DEL PEDIDO\n    if (pedido.telefono_cliente !== webhook.numeroOrigen) {\n      console.log('⚠️ Teléfono no coincide:', {\n        pedido: pedido.telefono_cliente,\n        usuario: webhook.numeroOrigen\n      });\n      return {\n        json: {\n          ...config,\n          numeroOrigen: webhook.numeroOrigen,\n          empresaId: webhook.empresaId,\n          nombreSesion: nombreSesion,\n          pushName: webhook.pushName,\n          mensaje_usuario: mensajeLimpio,\n          mensaje: `❌ *No tienes permiso para cancelar este pedido*\\n\\n📋 Escribe *mis pedidos* para ver tus pedidos.`,\n          tipo: 'respuesta_directa',\n          abierto: abierto\n        }\n      };\n    }\n    \n    // 3. VALIDAR ESTADO DEL PEDIDO\n    if (pedido.estado === 'cancelado') {\n      console.log('ℹ️ Pedido ya cancelado');\n      return {\n        json: {\n          ...config,\n          numeroOrigen: webhook.numeroOrigen,\n          empresaId: webhook.empresaId,\n          nombreSesion: nombreSesion,\n          pushName: webhook.pushName,\n          mensaje_usuario: mensajeLimpio,\n          mensaje: `ℹ️ *El pedido #${pedidoId} ya está cancelado*\\n\\n📋 Escribe *mis pedidos* para ver tus otros pedidos.`,\n          tipo: 'respuesta_directa',\n          abierto: abierto\n        }\n      };\n    }\n    \n    if (pedido.estado === 'entregado') {\n      console.log('❌ Pedido ya entregado');\n      return {\n        json: {\n          ...config,\n          numeroOrigen: webhook.numeroOrigen,\n          empresaId: webhook.empresaId,\n          nombreSesion: nombreSesion,\n          pushName: webhook.pushName,\n          mensaje_usuario: mensajeLimpio,\n          mensaje: `❌ *No puedes cancelar el pedido #${pedidoId}*\\n\\nEl pedido ya fue entregado.\\n\\n📞 Contacta con soporte si necesitas ayuda.`,\n          tipo: 'respuesta_directa',\n          abierto: abierto\n        }\n      };\n    }\n    \n    if (pedido.estado === 'enviado') {\n      console.log('⚠️ Pedido ya enviado');\n      return {\n        json: {\n          ...config,\n          numeroOrigen: webhook.numeroOrigen,\n          empresaId: webhook.empresaId,\n          nombreSesion: nombreSesion,\n          pushName: webhook.pushName,\n          mensaje_usuario: mensajeLimpio,\n          mensaje: `⚠️ *El pedido #${pedidoId} ya está en camino*\\n\\nNo puede ser cancelado automáticamente.\\n\\n📞 Contacta con soporte para cancelarlo.`,\n          tipo: 'respuesta_directa',\n          abierto: abierto\n        }\n      };\n    }\n    \n    // 4. CANCELAR EL PEDIDO\n    console.log('🔄 Iniciando cancelación...');\n    console.log('📡 Llamando a: /api/pedidos/' + pedidoId + '/cancelar');\n    console.log('📦 Body:', {\n      empresaId: webhook.empresaId,\n      telefono: webhook.numeroOrigen,\n      pedidoId: pedidoId\n    });\n    \n    const cancelResponse = await fetch(`http://host.docker.internal:3000/api/pedidos/${pedidoId}/cancelar`, {\n      method: 'PATCH',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        empresaId: webhook.empresaId,\n        telefono: webhook.numeroOrigen,\n        pedidoId: pedidoId\n      })\n    });\n    \n    const cancelData = await cancelResponse.json();\n    console.log('📥 Respuesta cancelación:', JSON.stringify(cancelData, null, 2));\n    \n    if (cancelData.success) {\n      console.log('✅ Pedido cancelado exitosamente');\n      return {\n        json: {\n          ...config,\n          numeroOrigen: webhook.numeroOrigen,\n          empresaId: webhook.empresaId,\n          nombreSesion: nombreSesion,\n          pushName: webhook.pushName,\n          mensaje_usuario: mensajeLimpio,\n          mensaje: `✅ *Pedido #${pedidoId} cancelado exitosamente*\\n\\n💵 Total cancelado: ${parseFloat(pedido.total).toFixed(2)}\\n\\n━━━━━━━━━━━━━━━━━━━━━\\n\\n📋 Escribe *pedidos* para ver tu historial\\n🛒 Escribe *productos* para hacer un nuevo pedido`,\n          tipo: 'respuesta_directa',\n          abierto: abierto\n        }\n      };\n    } else {\n      console.error('❌ Error en cancelación:', cancelData.mensaje);\n      return {\n        json: {\n          ...config,\n          numeroOrigen: webhook.numeroOrigen,\n          empresaId: webhook.empresaId,\n          nombreSesion: nombreSesion,\n          pushName: webhook.pushName,\n          mensaje_usuario: mensajeLimpio,\n          mensaje: `❌ *Error al cancelar el pedido #${pedidoId}*\\n\\n${cancelData.mensaje || 'Por favor intenta de nuevo'}`,\n          tipo: 'respuesta_directa',\n          abierto: abierto\n        }\n      };\n    }\n    \n  } catch (error) {\n    console.error('❌ ERROR CRÍTICO en cancelación:', error);\n    console.error('Stack:', error.stack);\n    return {\n      json: {\n        ...config,\n        numeroOrigen: webhook.numeroOrigen,\n        empresaId: webhook.empresaId,\n        nombreSesion: nombreSesion,\n        pushName: webhook.pushName,\n        mensaje_usuario: mensajeLimpio,\n        mensaje: `❌ *Error al procesar la cancelación*\\n\\nPor favor intenta de nuevo más tarde.`,\n        tipo: 'respuesta_directa',\n        abierto: abierto\n      }\n    };\n  }\n}\n\n// Si solo escribió \"cancelar\" sin número de pedido\nif (esCancelarGeneral) {\n  console.log('🔍 Usuario escribió \"cancelar\" sin número - verificando sesión...');\n  // El código continuará para verificar si hay sesión temporal más abajo\n}\n\n// ═══════════════════════════════════════════════════════════════════════════\n// PRIORIDAD 3: Verificar sesión de pedido temporal\n// ═══════════════════════════════════════════════════════════════════════════\ntry {\n  const sesionResponse = await fetch(`http://host.docker.internal:3000/api/pedidos/sesion/${webhook.empresaId}/${webhook.numeroOrigen}`);\n  const sesionData = await sesionResponse.json();\n  \n  if (sesionData.success && sesionData.data) {\n    const estadoActual = sesionData.data.estado;\n    console.log('📋 Sesión temporal encontrada - Estado:', estadoActual);\n    \n    if (estadoActual === 'confirmar_cancelacion') {\n      if (mensajeLimpio === 'si' || mensajeLimpio === 'sí') {\n        await fetch(`http://host.docker.internal:3000/api/pedidos/sesion/${webhook.empresaId}/${webhook.numeroOrigen}`, {\n          method: 'DELETE'\n        });\n        \n        return {\n          json: {\n            ...config,\n            numeroOrigen: webhook.numeroOrigen,\n            empresaId: webhook.empresaId,\n            nombreSesion: nombreSesion,\n            pushName: webhook.pushName,\n            mensaje_usuario: mensajeLimpio,\n            mensaje: \"❌ *Pedido cancelado exitosamente*\\n\\n✅ Si cambias de opinión, escribe *productos* para ver el catálogo.\",\n            tipo: 'respuesta_directa',\n            abierto: abierto\n          }\n        };\n      } else if (mensajeLimpio === 'no') {\n        await fetch(`http://host.docker.internal:3000/api/pedidos/sesion/${webhook.empresaId}/${webhook.numeroOrigen}`, {\n          method: 'PUT',\n          headers: { 'Content-Type': 'application/json' },\n          body: JSON.stringify({ estado: 'pendiente' })\n        });\n        \n        return {\n          json: {\n            ...config,\n            numeroOrigen: webhook.numeroOrigen,\n            empresaId: webhook.empresaId,\n            nombreSesion: nombreSesion,\n            pushName: webhook.pushName,\n            mensaje_usuario: mensajeLimpio,\n            mensaje: \"✅ *Pedido conservado*\\n\\n📝 Por favor, escribe tu *nombre completo* para confirmar el pedido.\\n\\n❌ O escribe *cancelar* si cambias de opinión.\",\n            tipo: 'respuesta_directa',\n            abierto: abierto\n          }\n        };\n      } else {\n        return {\n          json: {\n            ...config,\n            numeroOrigen: webhook.numeroOrigen,\n            empresaId: webhook.empresaId,\n            nombreSesion: nombreSesion,\n            pushName: webhook.pushName,\n            mensaje_usuario: mensajeLimpio,\n            mensaje: \"⚠️ *Respuesta no válida*\\n\\n✅ Escribe *sí* para cancelar el pedido\\n❌ Escribe *no* para continuar\",\n            tipo: 'respuesta_directa',\n            abierto: abierto\n          }\n        };\n      }\n    }\n    \n    if (estadoActual === 'esperando_nombre') {\n      if (mensajeLimpio === 'cancelar') {\n        await fetch(`http://host.docker.internal:3000/api/pedidos/sesion/${webhook.empresaId}/${webhook.numeroOrigen}`, {\n          method: 'PUT',\n          headers: { 'Content-Type': 'application/json' },\n          body: JSON.stringify({ estado: 'confirmar_cancelacion' })\n        });\n        \n        return {\n          json: {\n            ...config,\n            numeroOrigen: webhook.numeroOrigen,\n            empresaId: webhook.empresaId,\n            nombreSesion: nombreSesion,\n            pushName: webhook.pushName,\n            mensaje_usuario: mensajeLimpio,\n            mensaje: \"⚠️ *¿Estás seguro de cancelar tu pedido?*\\n\\n✅ Escribe *sí* para confirmar la cancelación\\n❌ Escribe *no* para continuar con tu pedido\",\n            tipo: 'respuesta_directa',\n            abierto: abierto\n          }\n        };\n      }\n      \n      if (mensaje.trim().length < 3) {\n        return {\n          json: {\n            ...config,\n            numeroOrigen: webhook.numeroOrigen,\n            empresaId: webhook.empresaId,\n            nombreSesion: nombreSesion,\n            pushName: webhook.pushName,\n            mensaje_usuario: mensajeLimpio,\n            mensaje: \"⚠️ *Nombre muy corto*\\n\\n📝 Por favor escribe tu nombre completo (mínimo 3 caracteres).\\n\\n❌ O escribe *cancelar* para anular.\",\n            tipo: 'respuesta_directa',\n            abierto: abierto\n          }\n        };\n      }\n      \n      const datosPedido = typeof sesionData.data.datos_pedido === 'string' \n        ? JSON.parse(sesionData.data.datos_pedido) \n        : sesionData.data.datos_pedido;\n      \n      return {\n        json: {\n          ...config,\n          numeroOrigen: webhook.numeroOrigen,\n          empresaId: webhook.empresaId,\n          nombreSesion: nombreSesion,\n          pushName: webhook.pushName,\n          nombreCliente: mensaje.trim(),\n          items: datosPedido.items,\n          total: datosPedido.total,\n          tipo: 'crear_pedido',\n          mensaje: '✅ *Confirmando tu pedido...*',\n          mensaje_usuario: mensajeLimpio,\n          abierto: abierto\n        }\n      };\n    }\n  }\n} catch (error) {\n  console.log('ℹ️ No hay sesión de pedido activa');\n}\n\n// ═══════════════════════════════════════════════════════════════════════════\n// COMANDO CANCELAR (sin número de pedido y sin sesión)\n// ═══════════════════════════════════════════════════════════════════════════\nif (esCancelarGeneral) {\n  console.log('ℹ️ Usuario escribió \"cancelar\" sin sesión activa');\n  return {\n    json: {\n      ...config,\n      numeroOrigen: webhook.numeroOrigen,\n      empresaId: webhook.empresaId,\n      nombreSesion: nombreSesion,\n      pushName: webhook.pushName,\n      mensaje_usuario: mensajeLimpio,\n      mensaje: \"ℹ️ *No tienes ningún pedido activo*\\n\\n📋 Escribe *productos* para ver nuestro catálogo\\n🛒 O escribe tu pedido directamente\\n\\n💬 ¿En qué puedo ayudarte?\",\n      tipo: 'respuesta_directa',\n      abierto: abierto\n    }\n  };\n}\n\n// ═══════════════════════════════════════════════════════════════════════════\n// FORMATO DE PEDIDO\n// ═══════════════════════════════════════════════════════════════════════════\nconst patronPedido = /^\\d+,\\d+(;\\d+,\\d+)*$/;\nif (patronPedido.test(mensajeLimpio)) {\n  console.log('✅ DETECTADO: Formato de pedido válido');\n  return {\n    json: {\n      ...config,\n      numeroOrigen: webhook.numeroOrigen,\n      empresaId: webhook.empresaId,\n      nombreSesion: nombreSesion,\n      pushName: webhook.pushName,\n      mensaje_usuario: mensajeLimpio,\n      tipo: 'procesar_pedido',\n      mensaje: '🛒 *Procesando tu pedido...*',\n      abierto: abierto,\n      hora_actual: hour,\n      dia_actual: day\n    }\n  };\n}\n\n// ═══════════════════════════════════════════════════════════════════════════\n// FLUJO NORMAL - DETECTAR TIPO DE MENSAJE\n// ═══════════════════════════════════════════════════════════════════════════\nconst mensajeLower = mensajeLimpio.toLowerCase();\nlet tipoMensaje = 'fallback';\nlet mensajeRespuesta = '';\n\nconst saludos = ['hola', 'buenas', 'buenos dias', 'buenas tardes', 'buenas noches', 'buen dia', 'hey', 'ola', 'que tal', 'buenos días'];\nif (saludos.some(s => mensajeLower.includes(s))) {\n  tipoMensaje = 'saludo_inicial';\n  mensajeRespuesta = '';\n}\nelse if (mensajeLower.includes(config.trigger_horarios || 'horario') || \n         mensajeLower.includes('hora') || \n         mensajeLower.includes('cuando abren') || \n         mensajeLower.includes('cuando cierran') ||\n         mensajeLower.includes('que hora') ||\n         mensajeLower.includes('a que hora')) {\n  tipoMensaje = 'mostrar_horario';\n  mensajeRespuesta = '';\n}\nelse if (mensajeLower.includes(config.trigger_productos || 'productos') || \n         mensajeLower.includes('catalogo') || \n         mensajeLower.includes('catálogo') || \n         mensajeLower.includes('que tienen') || \n         mensajeLower.includes('que venden') ||\n         mensajeLower.includes('menu') ||\n         mensajeLower.includes('menú') ||\n         mensajeLower.includes('ver productos')) {\n  tipoMensaje = 'productos';\n  mensajeRespuesta = '';\n}\nelse if (['si', 'sí', 'ok', 'okey', 'vale', 'confirmar', 'confirmo', 'acepto', 'okay'].includes(mensajeLower)) {\n  tipoMensaje = 'respuesta_directa';\n  mensajeRespuesta = abierto \n    ? \"ℹ️ *No tengo contexto de tu respuesta*\\n\\n¿En qué puedo ayudarte?\\n\\n📋 Escribe *productos* para ver el catálogo\\n🕐 Escribe *horarios* para ver horarios\"\n    : config.mensaje_fuera_horario;\n}\nelse if (mensajeLower.includes('ayuda') || mensajeLower.includes('opciones')) {\n  tipoMensaje = 'saludo_inicial';\n  mensajeRespuesta = '';\n}\nelse {\n  tipoMensaje = 'fallback';\n  mensajeRespuesta = abierto ? config.mensaje_horario : config.mensaje_fuera_horario;\n}\n\nconsole.log('📤 Resultado final - Tipo:', tipoMensaje);\nconsole.log('═══════════════════════════════════════════════════════════════');\n\nreturn {\n  json: {\n    ...config,\n    mensaje_usuario: mensajeLimpio,\n    numeroOrigen: webhook.numeroOrigen,\n    pushName: webhook.pushName,\n    empresaId: webhook.empresaId,\n    nombreSesion: nombreSesion,\n    conectado: config.conectado,\n    abierto: abierto,\n    hora_actual: hour,\n    dia_actual: day,\n    tipo: tipoMensaje,\n    mensaje: mensajeRespuesta || (abierto ? config.mensaje_horario : config.mensaje_fuera_horario),\n    mensaje_respuesta: abierto ? config.mensaje_horario : config.mensaje_fuera_horario\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3872,
        -208
      ],
      "id": "b49cde31-6681-41be-a133-bf938b3d3342",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "mostrar_horario",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mostrar_horario"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "productos",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "productos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "procesar_pedido",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "procesar_pedido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "respuesta_directa",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "respuesta_directa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "saludo_inicial",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "saludo_inicial"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "ver_pedidos",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ver_pedidos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "crear_pedido",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "crear_pedido"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3520,
        -224
      ],
      "id": "ad31ce1f-4c3f-42f7-b630-eda72547a051",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const config = $('HTTP Request').first().json;\nconst switchData = $('Switch').first().json;\n\nlet nombreSesion = switchData.nombreSesion;\nif (nombreSesion && nombreSesion.startsWith(`${switchData.empresaId}_`)) {\n  nombreSesion = nombreSesion.substring(`${switchData.empresaId}_`.length);\n}\n\nconst horaInicio = config.hora_inicio || 9;\nconst horaFin = config.hora_fin || 18;\nconst diasLaborales = config.dias_laborales || [1, 2, 3, 4, 5];\n\nconst nombresDias = {\n  0: 'Domingo',\n  1: 'Lunes',\n  2: 'Martes',\n  3: 'Miércoles',\n  4: 'Jueves',\n  5: 'Viernes',\n  6: 'Sábado'\n};\n\nconst diasTexto = diasLaborales.map(d => nombresDias[d]).join(', ');\n\nconst mensaje = `🕐 *Horario de Atención*\\n\\n📅 *Días laborales:*\\n${diasTexto}\\n\\n⏰ *Horario:*\\n${horaInicio}:00 hrs - ${horaFin}:00 hrs\\n\\n━━━━━━━━━━━━━━━━━━━━━\\n\\n💬 ¿En qué más puedo ayudarte?\\n\\n📋 Escribe *productos* para ver el catálogo\\n🛒 O escribe tu pedido directamente`;\n\nreturn {\n  json: {\n    numeroOrigen: switchData.numeroOrigen,\n    empresaId: switchData.empresaId,\n    nombreSesion: nombreSesion,\n    mensaje: mensaje\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3040,
        -704
      ],
      "id": "bb76ddb5-9354-4560-9adc-bc7b8be3d927",
      "name": "Mostrar Horario"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:3000/api/catalogo/publico/{{ $json.empresaId }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2944,
        -544
      ],
      "id": "65d77d36-b1c7-48cb-991a-89f49bbde1a9",
      "name": "Obtener productos catálogo"
    },
    {
      "parameters": {
        "jsCode": "const httpData = $input.first().json;\nconst switchData = $('Switch').first().json;\nconst productos = httpData.data;\n\nlet nombreSesion = switchData.nombreSesion;\nif (nombreSesion && nombreSesion.startsWith(`${switchData.empresaId}_`)) {\n  nombreSesion = nombreSesion.substring(`${switchData.empresaId}_`.length);\n}\n\nif (!productos || productos.length === 0) {\n  return {\n    numeroOrigen: switchData.numeroOrigen,\n    empresaId: switchData.empresaId,\n    nombreSesion: nombreSesion,\n    mensaje: \"📦 No hay productos disponibles actualmente.\",\n    productosConImagen: []\n  };\n}\n\nlet mensajeCompleto = '📦 *Catálogo de Productos*\\n\\n';\nconst productosConImagen = [];\n\nproductos.forEach((p, i) => {\n  const numero = i + 1;\n  mensajeCompleto += `*${numero}.* ${p.nombre_item}\\n`;\n  \n  if (p.precio) {\n    const precio = parseFloat(p.precio).toFixed(2);\n    mensajeCompleto += `💰 Precio: ${precio}\\n`;\n  }\n  \n  if (p.descripcion) {\n    mensajeCompleto += `📝 ${p.descripcion}\\n`;\n  }\n  \n  mensajeCompleto += '\\n';\n  \n  // Verificar si tiene imagen válida\n  if (p.imagen_url && p.imagen_url.trim() !== '' && p.imagen_url !== 'null' && p.imagen_url !== 'undefined') {\n    console.log(`✅ Producto ${numero} tiene imagen:`, p.imagen_url);\n    productosConImagen.push({\n      numero: numero,\n      nombre: p.nombre_item,\n      precio: p.precio ? `${parseFloat(p.precio).toFixed(2)}` : '',\n      descripcion: p.descripcion || '',\n      imagen_url: p.imagen_url\n    });\n  } else {\n    console.log(`⚠️ Producto ${numero} SIN imagen válida:`, p.imagen_url);\n  }\n});\n\nconsole.log(`📊 Total productos: ${productos.length}`);\nconsole.log(`📸 Productos con imagen: ${productosConImagen.length}`);\n\nmensajeCompleto += `━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\nmensajeCompleto += `🛒 *¿Deseas hacer un pedido?*\\n\\n`;\nmensajeCompleto += `📋 Escribe el número y cantidad:\\n`;\nmensajeCompleto += `📌 Ejemplo: *1,2* (2 unidades del producto 1)\\n\\n`;\nmensajeCompleto += `Para varios productos:\\n`;\nmensajeCompleto += `📌 Ejemplo: *1,2;3,1* (2 del prod.1 y 1 del prod.3)\\n\\n`;\nmensajeCompleto += `✏️ Escribe tu pedido ahora o *cancelar* para salir.`;\n\nreturn {\n  numeroOrigen: switchData.numeroOrigen,\n  empresaId: switchData.empresaId,\n  nombreSesion: nombreSesion,\n  pushName: switchData.pushName,\n  mensaje: mensajeCompleto,\n  productosConImagen: productosConImagen\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2720,
        -576
      ],
      "id": "b6cfd7f8-0b48-4480-9c15-7dc9a124b63f",
      "name": "Formatear catálogo"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:3000/api/catalogo/publico/{{ $json.empresaId }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3136,
        -288
      ],
      "id": "03941d06-d827-4f64-9efa-dbae64a94c2a",
      "name": "Obtener productos pedido"
    },
    {
      "parameters": {
        "jsCode": "const switchData = $('Switch').first().json;\nconst productosResponse = $input.first().json;\nconst productos = productosResponse.data;\n\nlet nombreSesion = switchData.nombreSesion;\nif (nombreSesion && nombreSesion.startsWith(`${switchData.empresaId}_`)) {\n  nombreSesion = nombreSesion.substring(`${switchData.empresaId}_`.length);\n}\n\nconst pedidoStr = switchData.mensaje_usuario;\n\nif (!pedidoStr || pedidoStr.trim() === '') {\n  return {\n    numeroOrigen: switchData.numeroOrigen,\n    empresaId: switchData.empresaId,\n    nombreSesion: nombreSesion,\n    pushName: switchData.pushName,\n    mensaje: \"⚠️ *Formato incorrecto*\\n\\nEscribe el número del producto y la cantidad.\\n\\n📌 Ejemplo: *1,2* (producto 1, cantidad 2)\",\n    tipo: 'error_formato'\n  };\n}\n\nconst pares = pedidoStr.split(';').map(p => p.trim()).filter(p => p);\nconst items = [];\nlet total = 0;\nlet errorMsg = '';\n\nfor (const par of pares) {\n  const partes = par.split(',').map(p => p.trim());\n  \n  if (partes.length !== 2) {\n    errorMsg = `⚠️ *Formato inválido*\\n\\nEl formato correcto es:\\n📌 *1,2* (producto 1, cantidad 2)`;\n    break;\n  }\n  \n  const [idStr, cantStr] = partes;\n  const id = parseInt(idStr);\n  const cantidad = parseInt(cantStr);\n  \n  if (isNaN(id) || isNaN(cantidad) || cantidad <= 0 || id <= 0) {\n    errorMsg = `⚠️ *Formato inválido*\\n\\nEl formato correcto es:\\n📌 *1,2* (producto 1, cantidad 2)`;\n    break;\n  }\n  \n  const producto = productos.find(p => p.id === id);\n  \n  if (!producto) {\n    errorMsg = `⚠️ *Producto no encontrado*\\n\\nEl producto #${id} no existe.\\n\\n📋 Escribe *productos* para ver el catálogo.`;\n    break;\n  }\n  \n  if (!producto.precio || isNaN(parseFloat(producto.precio))) {\n    errorMsg = `⚠️ *Error en producto #${id}*\\n\\nEl producto no tiene precio válido.`;\n    break;\n  }\n  \n  const subtotal = parseFloat(producto.precio) * cantidad;\n  total += subtotal;\n  \n  items.push({\n    producto_id: producto.id,\n    nombre: producto.nombre_item,\n    cantidad: cantidad,\n    precio_unitario: parseFloat(producto.precio),\n    subtotal: subtotal\n  });\n}\n\nif (errorMsg) {\n  return {\n    numeroOrigen: switchData.numeroOrigen,\n    empresaId: switchData.empresaId,\n    nombreSesion: nombreSesion,\n    pushName: switchData.pushName,\n    mensaje: errorMsg,\n    tipo: 'error_pedido'\n  };\n}\n\nlet resumen = '🛒 *Resumen de tu pedido:*\\n\\n';\nitems.forEach((item, i) => {\n  resumen += `${i + 1}. ${item.nombre}\\n`;\n  resumen += `   💰 ${item.precio_unitario.toFixed(2)} × ${item.cantidad} = ${item.subtotal.toFixed(2)}\\n\\n`;\n});\nresumen += `━━━━━━━━━━━━━━━━━━━━━\\n`;\nresumen += `💵 *Total: ${total.toFixed(2)}*\\n\\n`;\nresumen += `📝 Por favor, escribe tu *nombre completo* para confirmar el pedido.\\n\\n`;\nresumen += `❌ O escribe *cancelar* para anular.`;\n\nreturn {\n  numeroOrigen: switchData.numeroOrigen,\n  empresaId: switchData.empresaId,\n  nombreSesion: nombreSesion,\n  pushName: switchData.pushName,\n  mensaje: resumen,\n  tipo: 'pedir_nombre',\n  pedido_temporal: {\n    items: items,\n    total: total,\n    estado: 'esperando_nombre',\n    fecha_creacion: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2912,
        -288
      ],
      "id": "f1bb6cd5-69b7-4582-8db0-a0c2ec7f3031",
      "name": "Procesar pedido"
    },
    {
      "parameters": {
        "jsCode": "const procesarData = $input.first().json;\nconst switchData = $('Switch').first().json;\nlet nombreSesion = switchData.nombreSesion;\n\nif (nombreSesion && nombreSesion.startsWith(`${switchData.empresaId}_`)) {\n  nombreSesion = nombreSesion.substring(`${switchData.empresaId}_`.length);\n}\n\nreturn {\n  json: {\n    numeroOrigen: switchData.numeroOrigen,\n    empresaId: switchData.empresaId,\n    nombreSesion: nombreSesion,\n    pushName: switchData.pushName,\n    mensaje: procesarData.mensaje,\n    pedido_temporal: procesarData.pedido_temporal,\n    tipo: procesarData.tipo,\n    abierto: !!switchData.abierto\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2448,
        -320
      ],
      "id": "cfbffa70-6146-4acf-860c-f0723abfc2c4",
      "name": "Formatear pedido"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/pedidos/sesion",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"empresaId\": {{ JSON.stringify($('Formatear pedido').first().json.empresaId) }},\n  \"numeroOrigen\": {{ JSON.stringify($('Formatear pedido').first().json.numeroOrigen || '') }},\n  \"nombreSesion\": {{ JSON.stringify($('Formatear pedido').first().json.nombreSesion || '') }},\n  \"pushName\": {{ JSON.stringify($('Formatear pedido').first().json.pushName || '') }},\n  \"estado\": {{ JSON.stringify($('Formatear pedido').first().json.tipo || '') }},\n  \"datosPedido\": {{ JSON.stringify($('Formatear pedido').first().json.pedido_temporal) }}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2208,
        -336
      ],
      "id": "9e8f8c32-772d-42dd-88e4-535cc002a492",
      "name": "Guardar Sesión Temporal"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2cf7f55-32ff-4616-a0c6-7e96df763b09",
              "name": "abierto",
              "value": "={{ !!$('Formatear pedido').first().json.abierto }}",
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1920,
        -336
      ],
      "id": "08bcc434-aad8-4e82-ae45-30990d1c2dbf",
      "name": "Recuperar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-abierto",
              "leftValue": "={{ $json.abierto }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1744,
        -320
      ],
      "id": "cdbe0edc-9094-4ed6-bb86-35edb3f94c46",
      "name": "If horario"
    },
    {
      "parameters": {
        "jsCode": "const recuperarData = $json;\nconst formatData = $('Formatear pedido').first().json;\n\nreturn {\n  json: {\n    empresaId: formatData.empresaId,\n    nombreSesion: formatData.nombreSesion,\n    numeroOrigen: formatData.numeroOrigen,\n    mensaje: formatData.mensaje,\n    abierto: recuperarData.abierto\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1488,
        -416
      ],
      "id": "a5155bf4-7e31-4369-9e63-f82c6c900136",
      "name": "Preparar whatsapp"
    },
    {
      "parameters": {
        "jsCode": "const config = $('HTTP Request').first().json;\nconst formatearData = $('Formatear pedido').first().json;\n\nlet nombreSesion = formatearData.nombreSesion;\nif (nombreSesion && nombreSesion.startsWith(`${formatearData.empresaId}_`)) {\n  nombreSesion = nombreSesion.substring(`${formatearData.empresaId}_`.length);\n}\n\nconst horaInicio = config.hora_inicio || 9;\nconst horaFin = config.hora_fin || 18;\n\nreturn {\n  json: {\n    numeroOrigen: formatearData.numeroOrigen,\n    empresaId: formatearData.empresaId,\n    nombreSesion: nombreSesion,\n    mensaje: `🔒 *Lo sentimos, estamos cerrados*\\n\\n⏰ Nuestro horario de atención es:\\n📅 Lunes a Viernes\\n🕐 ${horaInicio}:00 hrs - ${horaFin}:00 hrs\\n\\n❌ *No podemos procesar pedidos fuera de horario*\\n\\n✅ Regresa en nuestro horario laboral para hacer tu pedido.\\n\\n📋 Puedes escribir *horarios* para ver más información.`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1472,
        -224
      ],
      "id": "7031906a-3ac9-468a-af7c-9bac43f5b540",
      "name": "Mensaje Pedido Fuera Horario"
    },
    {
      "parameters": {
        "jsCode": "const switchData = $input.first().json;\n\nreturn {\n  json: {\n    numeroOrigen: switchData.numeroOrigen,\n    empresaId: switchData.empresaId,\n    nombreSesion: switchData.nombreSesion,\n    mensaje: switchData.mensaje\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2672,
        -112
      ],
      "id": "30b65f8c-5e89-45f3-8d78-a39bad9ad1b0",
      "name": "Respuesta Directa"
    },
    {
      "parameters": {
        "jsCode": "const codeData = $('Code in JavaScript').first().json;\nconst webhookData = $('Webhook').first().json.body;\nconst nombreUsuario = webhookData.pushName || 'amigo';\n\nlet nombreSesion = codeData.nombreSesion;\nif (nombreSesion.startsWith(`${codeData.empresaId}_`)) {\n  nombreSesion = nombreSesion.substring(`${codeData.empresaId}_`.length);\n}\n\nreturn {\n  json: {\n    numeroOrigen: codeData.numeroOrigen,\n    empresaId: codeData.empresaId,\n    nombreSesion: nombreSesion,\n    mensaje: `👋 ¡Hola ${nombreUsuario}! Bienvenido(a)\\n\\n¿En qué puedo ayudarte hoy?\\n\\n1️⃣ Escribe *horarios* para ver horarios de atención\\n2️⃣ Escribe *productos* para ver nuestro catálogo\\n3️⃣ Escribe *mis pedidos* para ver tus pedidos\\n\\n💬 ¿Qué necesitas?`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2464,
        48
      ],
      "id": "34182c57-daec-4098-ac99-a480273637f3",
      "name": "Saludo Inicial"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:3000/api/pedidos/usuario/{{ $json.empresaId }}/{{ $json.numeroOrigen }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2528,
        192
      ],
      "id": "785c1188-5058-4180-a4d5-77ec17f7d9fc",
      "name": "Obtener pedidos"
    },
    {
      "parameters": {
        "jsCode": "const pedidosResponse = $input.first().json;\nconst switchData = $('Switch').first().json;\n\nconsole.log('📋 Respuesta de pedidos:', JSON.stringify(pedidosResponse, null, 2));\n\nif (!pedidosResponse.success || !pedidosResponse.data || pedidosResponse.data.length === 0) {\n  console.log('❌ No hay pedidos para mostrar');\n  return {\n    json: {\n      numeroOrigen: switchData.numeroOrigen,\n      empresaId: switchData.empresaId,\n      nombreSesion: switchData.nombreSesion,\n      pushName: switchData.pushName,\n      mensaje: \"📦 *No tienes pedidos registrados*\\n\\n✅ Escribe *productos* para ver el catálogo y hacer tu primer pedido.\"\n    }\n  };\n}\n\nconst pedidos = pedidosResponse.data;\nconsole.log(`✅ Se encontraron ${pedidos.length} pedidos`);\n\nfunction formatearFecha(fechaISO) {\n  const fecha = new Date(fechaISO);\n  const opciones = {\n    day: '2-digit',\n    month: 'short',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: true\n  };\n  return fecha.toLocaleDateString('es-MX', opciones);\n}\n\nfunction formatearEstado(estado) {\n  const estados = {\n    'pendiente': '⏳ Pendiente',\n    'confirmado': '✅ Confirmado',\n    'en_proceso': '🔄 En Proceso',\n    'entregado': '📦 Entregado',\n    'cancelado': '❌ Cancelado'\n  };\n  return estados[estado] || estado;\n}\n\nlet mensaje = `📋 *Tus Pedidos (${pedidos.length})*\\n\\n`;\n\npedidos.forEach((pedido, index) => {\n  const fecha = formatearFecha(pedido.fecha_pedido);\n  const estado = formatearEstado(pedido.estado);\n  const total = parseFloat(pedido.total).toFixed(2);\n  \n  let emoji = '⏳';\n  if (pedido.estado === 'confirmado') emoji = '✅';\n  if (pedido.estado === 'en_proceso') emoji = '🔄';\n  if (pedido.estado === 'entregado') emoji = '📦';\n  if (pedido.estado === 'cancelado') emoji = '❌';\n  \n  mensaje += `${emoji} *Pedido #${pedido.id}*\\n`;\n  mensaje += `📅 ${fecha}\\n`;\n  mensaje += `💵 Total: $${total}\\n`;\n  mensaje += `📊 Estado: ${estado}\\n`;\n  \n  if (pedido.items && pedido.items.length > 0) {\n    mensaje += `📦 Productos:\\n`;\n    pedido.items.forEach(item => {\n      const precio = item.precio_unitario || item.precio || 0;\n      mensaje += `   • ${item.cantidad}x ${item.nombre} - $${parseFloat(precio).toFixed(2)}\\n`;\n    });\n  }\n  \n  if (pedido.estado === 'pendiente' || pedido.estado === 'confirmado') {\n    mensaje += `\\n❌ Para cancelar: *cancelar pedido ${pedido.id}*\\n`;\n  }\n  \n  mensaje += `\\n━━━━━━━━━━━━━━━━━━━━━\\n`;\n  \n  if (index < pedidos.length - 1) {\n    mensaje += `\\n`;\n  }\n});\n\nmensaje += `\\n💬 *¿Necesitas algo más?*\\n`;\nmensaje += `📋 Escribe *productos* para ver el catálogo\\n`;\nmensaje += `📞 Escribe *horarios* para ver nuestro horario`;\n\nconsole.log('✅ Mensaje formateado correctamente');\n\nreturn {\n  json: {\n    numeroOrigen: switchData.numeroOrigen,\n    empresaId: switchData.empresaId,\n    nombreSesion: switchData.nombreSesion,\n    pushName: switchData.pushName,\n    mensaje: mensaje\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2288,
        224
      ],
      "id": "df0a72fd-1328-49f9-aae3-6e69485ea854",
      "name": "Formatear pedidos"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/whatsapp/public/enviar-mensaje",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"empresaId\": {{ JSON.stringify($json.empresaId) }},\n  \"nombreSesion\": {{ JSON.stringify($json.nombreSesion || '') }},\n  \"numeroDestino\": {{ JSON.stringify($json.numeroOrigen || '') }},\n  \"mensaje\": {{ JSON.stringify($json.mensaje || '') }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        640,
        -432
      ],
      "id": "68376533-b349-48e9-bb45-dc1104554eb0",
      "name": "Enviar WhatsApp"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/whatsapp/public/enviar-mensaje",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"empresaId\": {{ JSON.stringify($json.empresaId) }},\n  \"nombreSesion\": {{ JSON.stringify($json.nombreSesion || '') }},\n  \"numeroDestino\": {{ JSON.stringify($json.numeroOrigen || '') }},\n  \"mensaje\": {{ JSON.stringify($json.mensaje || '') }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2368,
        -608
      ],
      "id": "a17b1fa2-40b3-4750-ae08-d95758e77391",
      "name": "Enviar Catálogo Texto"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst productosConImagen = data.productosConImagen || [];\n\nconsole.log('📸 Productos con imagen:', productosConImagen.length);\nconsole.log('📋 Datos completos:', JSON.stringify(data, null, 2));\n\nif (productosConImagen.length === 0) {\n  console.log('⚠️ No hay productos con imagen');\n  return [];\n}\n\nconst items = productosConImagen.map((p, i) => {\n  const item = {\n    json: {\n      numeroOrigen: data.numeroOrigen,\n      empresaId: data.empresaId,\n      nombreSesion: data.nombreSesion,\n      imagenUrl: p.imagen_url,\n      caption: `*${p.numero}.* ${p.nombre}\\n${p.precio ? `💰 Precio: $${p.precio}\\n` : ''}${p.descripcion ? `📝 ${p.descripcion}` : ''}`,\n      orden: i\n    }\n  };\n  console.log(`✅ Imagen ${i + 1}:`, item.json.imagenUrl);\n  return item;\n});\n\nconsole.log(`🚀 Total de imágenes a enviar: ${items.length}`);\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2496,
        -480
      ],
      "id": "a9caae33-4704-4fd9-9eef-58008095a745",
      "name": "Preparar Imágenes"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2192,
        -496
      ],
      "id": "001d94bc-a7cd-4e30-b532-ea6cc96f3bf8",
      "name": "Wait 3s",
      "webhookId": "8aa070f9-2b46-4c76-aa2b-d42047dd49dd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/whatsapp/public/enviar-imagen",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"empresaId\": {{ JSON.stringify($json.empresaId) }},\n  \"nombreSesion\": {{ JSON.stringify($json.nombreSesion || '') }},\n  \"numeroDestino\": {{ JSON.stringify($json.numeroOrigen || '') }},\n  \"imagenUrl\": {{ JSON.stringify($json.imagenUrl || '') }},\n  \"caption\": {{ JSON.stringify($json.caption || '') }}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1872,
        -512
      ],
      "id": "9ba081e6-14c4-4b47-b1b6-126573675f39",
      "name": "Enviar Imagen Producto"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/pedidos/crear",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"empresaId\": {{ JSON.stringify($json.empresaId) }},\n  \"telefonoCliente\": {{ JSON.stringify($json.numeroOrigen) }},\n  \"nombreCliente\": {{ JSON.stringify($json.nombreCliente) }},\n  \"items\": {{ JSON.stringify($json.items) }},\n  \"total\": {{ $json.total }}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2544,
        352
      ],
      "id": "crear-pedido-http",
      "name": "Crear Pedido HTTP"
    },
    {
      "parameters": {
        "jsCode": "const crearResponse = $input.first().json;\nconst switchData = $('Switch').first().json;\n\nconsole.log('📥 Respuesta crear pedido:', JSON.stringify(crearResponse, null, 2));\n\nif (crearResponse.success) {\n  const pedido = crearResponse.data;\n  \n  // Eliminar sesión temporal\n  try {\n    await fetch(`http://host.docker.internal:3000/api/pedidos/sesion/${switchData.empresaId}/${switchData.numeroOrigen}`, {\n      method: 'DELETE'\n    });\n    console.log('✅ Sesión temporal eliminada');\n  } catch (e) {\n    console.log('⚠️ Error al eliminar sesión temporal:', e.message);\n  }\n  \n  let mensaje = `✅ *¡Pedido confirmado!*\\n\\n`;\n  mensaje += `📋 *Pedido #${pedido.id}*\\n`;\n  mensaje += `👤 Cliente: ${pedido.nombre_cliente}\\n`;\n  mensaje += `💵 Total: $${parseFloat(pedido.total).toFixed(2)}\\n\\n`;\n  mensaje += `━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n  mensaje += `📦 *Tu pedido ha sido registrado exitosamente*\\n\\n`;\n  mensaje += `Nos pondremos en contacto contigo pronto.\\n\\n`;\n  mensaje += `💬 ¿Necesitas algo más?\\n`;\n  mensaje += `📋 Escribe *mis pedidos* para ver tu historial\\n`;\n  mensaje += `🛒 Escribe *productos* para hacer otro pedido`;\n  \n  return {\n    json: {\n      numeroOrigen: switchData.numeroOrigen,\n      empresaId: switchData.empresaId,\n      nombreSesion: switchData.nombreSesion,\n      mensaje: mensaje\n    }\n  };\n} else {\n  return {\n    json: {\n      numeroOrigen: switchData.numeroOrigen,\n      empresaId: switchData.empresaId,\n      nombreSesion: switchData.nombreSesion,\n      mensaje: `❌ *Error al crear el pedido*\\n\\n${crearResponse.mensaje || 'Por favor intenta de nuevo'}\\n\\n📋 Escribe *productos* para intentar de nuevo`\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2304,
        352
      ],
      "id": "formatear-pedido-creado",
      "name": "Formatear Pedido Creado"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Mostrar Horario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener productos catálogo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener productos pedido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Directa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Saludo Inicial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener pedidos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear Pedido HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener productos catálogo": {
      "main": [
        [
          {
            "node": "Formatear catálogo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear catálogo": {
      "main": [
        [
          {
            "node": "Enviar Catálogo Texto",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Imágenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Imágenes": {
      "main": [
        [
          {
            "node": "Wait 3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saludo Inicial": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Directa": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mostrar Horario": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener pedidos": {
      "main": [
        [
          {
            "node": "Formatear pedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear pedidos": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Obtener productos pedido": {
      "main": [
        [
          {
            "node": "Procesar pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar pedido": {
      "main": [
        [
          {
            "node": "Formatear pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear pedido": {
      "main": [
        [
          {
            "node": "Guardar Sesión Temporal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Sesión Temporal": {
      "main": [
        [
          {
            "node": "Recuperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recuperar": {
      "main": [
        [
          {
            "node": "If horario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If horario": {
      "main": [
        [
          {
            "node": "Preparar whatsapp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje Pedido Fuera Horario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar whatsapp": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje Pedido Fuera Horario": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3s": {
      "main": [
        [
          {
            "node": "Enviar Imagen Producto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Imagen Producto": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Pedido HTTP": {
      "main": [
        [
          {
            "node": "Formatear Pedido Creado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Pedido Creado": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "CORREGIDO-PEDIDOS-v1",
  "meta": {
    "instanceId": "06f3abd0c47bf03702da44aaccc72833bb792a76d9bfba39d8fccc46f2369aad"
  },
  "id": "emcaIVQP3DNwRWXp",
  "tags": []
}